<ion-header>
  <ion-navbar color="1">
    <ion-title>ประวัติการกลืนแร่</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


<ion-card id="css" padding>


<div class="topic">ท่านเคยรักษาด้วยแร่ไอโอดีนหรือไม่</div>


<ion-grid>
  <ion-row>
    <ion-col col-12>
      
      <ion-list >
        <ion-item no-lines (change)="changespecify()">
          <ion-label>
            <input id="nospecify" type="radio" *ngIf="specify"  >
            <input id="nospecify" type="radio" *ngIf="!specify" checked >
            <label for="nospecify" class="radio-inline">
              ไม่เคย
            </label>
          </ion-label>
            
            
          <ion-label>

            <input id="yesspecify" type="radio" *ngIf="!specify">
            <input id="yesspecify" type="radio" *ngIf="specify" checked>
            <label for="yesspecify" class="radio-inline">
            เคย
          </label>
        </ion-label>
        </ion-item>
        </ion-list>

    </ion-col>
  </ion-row>
</ion-grid>
<form [formGroup]="formgroup" *ngIf="specify">
<ion-grid>
  <ion-row>
    <ion-col col-4>
      <label class="topic">โรงพยาบาลหรือสถาบัน    </label>
    </ion-col>
    <ion-col col-6>
      <input type="text" id="hospital" name="hospital" formControlName="hospital" size="20">
      <p class="help-inline"
      *ngIf="!formgroup.get('hospital').valid
      && formgroup.get('hospital').touched">กรุณากรอกนามสกุล ภาษาไทย หรือ ภาษาอังกฤษ เท่านั้น</p>  
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col col-4>
      <label class="topic" class="topic" for="้date" >วันที่กลืนแร่    </label>
    </ion-col>
    <ion-col col-6>
      <ion-datetime displayFormat="DD-MM-YYYY" pickerFormat="DD MMMM YYYY" min={{startMin}} max={{startMax}} placeholder="กรุณาเลือกวันที่" formControlName="datemineral" 
    monthNames="มกราคม, กุมภาพันธ์, มีนาคม,เมษายน,พฤษภาคม,มิถุนายน,กรกฎาคม,สิงหาคม ,กันยายน ,ตุลาคม ,พฤศจิกายน ,ธันวาคม, "></ion-datetime>
              
              <p class="help-inline"
              *ngIf="!formgroup.get('datemineral').valid
              && formgroup.get('datemineral').touched">กรุณาเลือกวันที่</p>  
    </ion-col>
  </ion-row>
</ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <label class="topic" for="amount" >ปริมาณ (mCi)    </label>
      </ion-col>
      <ion-col col-6>
        <input type="number" id="amount" name="amount" formControlName="amount"  size="20">
        <p class="help-inline"
              *ngIf="!formgroup.get('amount').valid
              && formgroup.get('amount').touched">กรุณากรอกตัวเลข</p>  
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
</ion-card>
<button ion-button small color="1" [disabled]="!formgroup.valid" (click)="presentConfirm()" >บันทึก</button>
</ion-content>
