<!--
  Generated template for the InsertPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="1">
    <ion-title>แก้ไขข้อมูลการตรวจรักษา</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card id="css" padding>
    <form [formGroup]="formgroup" >
    <div>
      <label for="title"
        >ผู้ป่วยได้รับการวินิจฉัยเป็นต่อมไทรอยด์เป็นพิษเมื่อ
      </label>
      <ion-grid>
        <ion-row>
          <label for="month">เดือน &ensp;</label>
          <select formControlName="month" id="month" name="month">
            <option value="มกราคม">มกราคม</option>
            <option value="กุมภาพันธ์">กุมภาพันธ์</option>
            <option value="มีนาคม"> มีนาคม</option>
            <option value="เมษายน">เมษายน</option>
            <option value="พฤษภาคม">พฤษภาคม</option>
            <option value="มิถุนายน">มิถุนายน</option>
            <option value="กรกฎาคม">กรกฎาคม</option>
            <option value="กันยายน">สิงหาคม</option>
            <option value="กันยายน">กันยายน</option>
            <option value="ตุลาคม">ตุลาคม</option>
            <option value="พฤศจิกายน">พฤศจิกายน</option>
            <option value="ธันวาคม">ธันวาคม</option>
          </select>
          <div>
            <label for="year">&ensp;ปี&ensp;</label>
            <select formControlName="year">
              <option *ngFor="let index of pages" value="{{index}}"
                >{{index}}</option
              >
            </select>

          </div>
        </ion-row>
      </ion-grid>
    </div>

    <label for="thyroid">ภาวะแทรกซ้อนของต่อมไทรอยด์เป็นพิษ</label>
    <ion-grid>
      <ion-row>
        <select (change) = "showComp($event.target.value)" formControlName="Toxic">
          <option *ngFor="let toxic of toxics" value="{{toxic.name}}">{{toxic.name}}</option>
        </select>
        <div *ngIf="showCompOther">
          <label for="ระบุ">&ensp;ระบุ&ensp;</label>
          <input type="text" id="sp" name="sp" formControlName="ToxicEtc" size="20" />
        </div>

        <div *ngIf="showstatusother">
          <label for="ระบุ">&ensp;โปรดระบุ&ensp;</label>
          <input type="text" id="sp2" name="sp2" formControlName="comp_name" size="20" />
        </div>
        
      </ion-row>
    </ion-grid>

    <br /><br />

    <label for="ข้อบ่งชี้ของการกลืนแร่ไอโอดีน"
      >ข้อบ่งชี้ของการกลืนแร่ไอโอดีน
    </label>
    <ion-grid>
      <ion-row>
        <select formControlName="Allergy" (change) = "addAllery($event.target.value)">
          <option value="medical failure">medical failure</option>
          <option value="มีภาวะแทรกซ้อนของโรค"> มีภาวะแทรกซ้อนของโรค </option>
          <option value="Major adverse reactions to">
            Major adverse reactions to</option
          >
          <option value="ระบุอาการแพ้ยา">ระบุอาการแพ้ยา</option>
        </select>
        <label for="null">&ensp;&ensp;</label>
        <select formControlName="Drug" *ngIf="showAllergy" (change) = "addDrug($event.target.value)">
          <option *ngFor="let all of allergy" value="{{all.name}}">{{all.name}}</option>
        </select>

        <select formControlName="comp_majoradverse" *ngIf="showMajoradverse">
          <option value="PTU">PTU</option>
          <option value="MMI">MMI</option>
        </select>

      </ion-row>
    </ion-grid>
    <div *ngIf="showAllergyOther&&showAllergy">
      <label for="ระบุ">&ensp;ระบุ&ensp;</label>
    <input type="text" id="sp1" name="sp1" size="20" formControlName="DrugEtc" />
    </div>

    <div *ngIf="showMajoradverse">
      <label for="ระบุ">&ensp;ระบุ&ensp;</label>
    <input type="text" id="sp1" name="sp1" size="20" formControlName="comp_description" />
    </div>

  </form>
  </ion-card>
  <button ion-button (click)="presentConfirm()" color="1">บันทึก</button>
</ion-content>

