<ion-header>
  <ion-navbar color="1">
    <ion-title>ผลการตรวจทางห้องปฏิบัติการ</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card id="css" padding *ngIf="showData">
    <div *ngFor="let item of items; let i = index">
      <div *ngIf="i < 1">
        <ion-card (click)="showLabtest(i)">
          <ion-item>
            <ion-card-title class="topic"
              >ครั้งที่: {{item.index}}</ion-card-title
            >
          </ion-item>

          <ion-item>
            <ion-label class="topic" color="dark">วันที่:</ion-label>
            <ion-label color="black" text-right>{{item.lab_date}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label class="topic" color="dark">serum free T3: </ion-label>
            <ion-label color="black" text-right>{{item.free_T3}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label class="topic" color="dark">serum free T4: </ion-label>
            <ion-label color="black" text-right>{{item.free_T4}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label class="topic" color="dark">serum TSH: </ion-label>
            <ion-label color="black" text-right>{{item.TSH }}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label class="topic" color="dark">serum TRAb: </ion-label>
            <ion-label color="black" text-right>{{item.TRAb}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label class="topic" color="dark"
              ><div>ยาที่รับประทานในวันตรวจเลือด:</div></ion-label
            >
            <ion-label color="black" text-right
              ><div>
                {{item.anti_thy_name}},{{item.beta_thy_name}}
              </div></ion-label
            >
          </ion-item>
        </ion-card>
      </div>

      <button
        ion-button
        full
        icon-end
        color="1"
        (click)="ShowMore()"
        *ngIf="i == 1"
      >
        ผลการตรวจครั้งก่อนหน้า
        <ion-icon
          color="success"
          [name]="showMore ? 'arrow-dropdown' : 'arrow-dropright'"
        ></ion-icon>
      </button>
      <div *ngIf="i >= 1&&showMore">
        <ion-card (click)="showLabtest(i)">
          <ion-item>
            <ion-card-title class="topic"
              >ครั้งที่: {{item.index}}</ion-card-title
            >
          </ion-item>

          <ion-item>
            <ion-label class="topic" color="dark">วันที่:</ion-label>
            <ion-label color="black" text-right>{{item.lab_date}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label class="topic" color="dark">serum free T3: </ion-label>
            <ion-label color="black" text-right>{{item.free_T3}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label class="topic" color="dark">serum free T4: </ion-label>
            <ion-label color="black" text-right>{{item.free_T4}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label class="topic" color="dark">serum TSH: </ion-label>
            <ion-label color="black" text-right>{{item.TSH }}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label class="topic" color="dark">serum TRAb: </ion-label>
            <ion-label color="black" text-right>{{item.TRAb}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label class="topic" color="dark"
              ><div>ยาที่รับประทานในวันตรวจเลือด:</div></ion-label
            >
            <ion-label color="black" text-right
              ><div>
                {{item.anti_thy_name}},{{item.beta_thy_name}}
              </div></ion-label
            >
          </ion-item>
        </ion-card>
      </div>
    </div>
  </ion-card>
  <ion-card id="css" *ngIf="!showData">
    <ion-item no-lines>
      <ion-label style="text-align: center;" color="dark"
        >ไม่พบข้อมูล</ion-label
      >
    </ion-item>
  </ion-card>
</ion-content>
