page-editinitially {
    div{
        font-size:  17px;
     }
     label{
        font-size:  15px;
     }
    button{
        font-size: 17px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    ion-label{
        font-size:  15px;
    }
    .topic{
        font-weight: bold;
    }

    input[type=checkbox] {
        zoom: 1.5;
    }

    @media only screen and (min-width: 1024px) {

        ion-label{
            font-size:  20px;
        }
        label{
            font-size:  20px;
         }
        div{
            font-size:  20px;
         }
         .button{
            font-size: 20px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        #css{
            width: 40%;
            position: relative;
            left: 30%;

        }
}
}
