<ion-header>
  <ion-navbar color="1">
    <ion-title >ลงทะเบียนผู้ป่วยใหม่</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-card id="css" padding>

  <form [formGroup]="formgroup"  >
  <ion-list >
    <ion-grid>
      <ion-row>
        <ion-col col-4>
            <label  >ส่งตัวมาจาก รพ.     </label>
          </ion-col>
            <ion-col col-6>
            <select formControlName="from_name1" (change)="showHosIn($event.target.value)">
              <option *ngFor="let hos of hospitals" value="{{hos.hos_name}}">{{hos.hos_name}}</option>
            </select>
            
        </ion-col>
      </ion-row>
    </ion-grid>
   
    <ion-grid *ngIf="showNameHosIn">
      <ion-row>
        <ion-col col-4>
          <label  >กรุณาระบุ    </label>
        </ion-col>
        <ion-col col-6>
          <input type="text" formControlName="from_name2" size="20">
          <p
                class="help-inline"
                *ngIf="!formgroup.get('from_name2').valid
      && formgroup.get('from_name2').touched"
              >
                กรุณากรอกชื่อโรงพยาบาล ภาษาไทย  หรือ ภาษาอังกฤษ เท่านั้น
              </p>  
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <label >HN รพ. ที่ส่งตัวมา</label>
        </ion-col>
        <ion-col col-6>
          <input type="text" formControlName="from_id" size="20">
          <p
                class="help-inline"
                *ngIf="!formgroup.get('from_id').valid
      && formgroup.get('from_id').touched"
              >
                กรุณากรอกตัวเลข
              </p>    
        </ion-col>
      </ion-row>
    </ion-grid>

   

    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <label>HN รพ.มหาวิทยาลัยบูรพา*</label>
        </ion-col>
        <ion-col col-6>
          <input type="text" formControlName="Hos_base_id" size="20" placeholder="xxxxxx">
          <p
                class="help-inline"
                *ngIf="!formgroup.get('Hos_base_id').valid
      && formgroup.get('Hos_base_id').touched"
              >
                กรุณากรอกตัวเลข
              </p>    
        </ion-col>
      </ion-row>
    </ion-grid>
 
     
   
      <ion-grid>
        <ion-row>
          <ion-col col-4>
              <label >รพ.ที่ส่งตัวกลับ     </label>
            </ion-col>
              <ion-col col-6>
                <select formControlName="to_name1" (change)="showHosOut($event.target.value)">
                  <option *ngFor="let hos of hospitals" value="{{hos.hos_name}}">{{hos.hos_name}}</option>
              </select>
          </ion-col>
        </ion-row>
      </ion-grid>

     
      
     

      <ion-grid *ngIf="showNameHosOut">
        <ion-row>
          <ion-col col-4>
            <label  >กรุณาระบุ    </label>
          </ion-col>
          <ion-col col-6>
            <input type="text" formControlName="to_name2" size="20"> 
            <p
                class="help-inline"
                *ngIf="!formgroup.get('to_name2').valid
      && formgroup.get('to_name2').touched"
              >
              กรุณากรอกชื่อโรงพยาบาล ภาษาไทย หรือ ภาษาอังกฤษ เท่านั้น
              </p>   
          </ion-col>
        </ion-row>
      </ion-grid>

    

      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <label  >HN รพ. ที่ส่งตัวกลับ</label>
          </ion-col>
          <ion-col col-6>
            <input type="text" formControlName="to_id" size="20">
            <p
            class="help-inline"
            *ngIf="!formgroup.get('to_id').valid
  && formgroup.get('to_id').touched"
          >
            กรุณากรอกตัวเลข
          </p>    
          </ion-col>
        </ion-row>
      </ion-grid>

      
  </ion-list>
</form>

</ion-card>
  <button  ion-button  color="1" [disabled]="!formgroup.valid" (click)="presentConfirm()">ยืนยันการสมัคร</button>

</ion-content>