<ion-header>
  <ion-navbar color="1">
    <ion-title>ขั้นตอนการเตรียมตัว</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card id="css" padding>
    <div>วันที่นัดกลืนแร่ {{method||""}}</div><br>

    <div style="text-align: center;" *ngIf="showData">
      {{appoint_date}}
    </div>
    <div style="text-align: center;" *ngIf="!showData">
      ยังไม่มีกำหนดการ
    </div>

    <div style="text-align: right;">
      <button ion-button (click)="editdate()" color="1" *ngIf="showButtonedit">
        แก้ไข
      </button>
    </div>
  </ion-card>

  <ion-card id="css" *ngIf="showFormSex">
    <button ion-item (click)="contraceptive()">
      การคุมกำเนิดสำหรับสตรีวัยเจริญพันธุ์
      <ion-icon
        name="arrow-dropright"
        md="md-arrow-dropright"
        item-right
      ></ion-icon>
    </button>
  </ion-card>

  <ion-card id="css" *ngIf="(showPatient&&showData)||!showPatient">
    <button ion-item (click)="antidepressant()">
      การงดยาต้านไทรอยด์
      <ion-icon
        name="arrow-dropright"
        md="md-arrow-dropright"
        item-right
      ></ion-icon>
    </button>
  </ion-card>

  <ion-card id="css" *ngIf="(showPatient&&showData)||!showPatient">
    <button ion-item (click)="avoideating()">
      การหลีกเลี่ยงการรับประทานอาหารที่มีไอโอดีนสูง
      <ion-icon
        name="arrow-dropright"
        md="md-arrow-dropright"
        item-right
      ></ion-icon>
    </button>
  </ion-card>

  <ion-card id="css">
    <button ion-item (click)="practice()">
      วิธีปฏิบัติตัวของผู้ป่วยหลังการกลืนแร่
      <ion-icon
        name="arrow-dropright"
        md="md-arrow-dropright"
        item-right
      ></ion-icon>
    </button>
  </ion-card>

  <ion-card id="css">
    <button *ngIf="showDataswallow" ion-item (click)="dataswallow()" >
      การปฏิบัติตัวในวันที่มากลืนแร่
      <ion-icon
        name="arrow-dropright"
        md="md-arrow-dropright"
        item-right
      ></ion-icon>
    </button>

    <button *ngIf="!showDataswallow" ion-item (click)="dataestimate()" >
      การปฏิบัติตัวในวันที่มากลืนแร่
      <ion-icon
        name="arrow-dropright"
        md="md-arrow-dropright"
        item-right
      ></ion-icon>
    </button>

  </ion-card>
</ion-content>
