<ion-header>
  <ion-navbar color="1">
    <ion-title>บันทึกผลการตรวจร่างกาย (ส่วนที่ 2)</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<form [formGroup]="formgroup" (ngSubmit)="doUpdate()">
  <ion-card id="css" padding>

  <ion-grid>
    <ion-row>
      <ion-col col-4>
      <label for="thyroid_size">ขนาดของต่อมไทรอยด์</label>
    </ion-col>
    <ion-col col-5>
    <input
      type="text"
      id="thyroid_size"
      name="thyroid_size"
      formControlName="thyroid_size"
      size="10">
    </ion-col>
    <ion-col col-3>
      <label>กรัม</label>
    </ion-col>
  </ion-row>
</ion-grid>

  <!-- <ion-item >
    <ion-label  color="dark">ขนาดของต่อมไทรอยด์</ion-label>
    <ion-input [(ngModel)]="doc" type="text" placeholder=""></ion-input>
  </ion-item> -->

  <ion-item no-lines><div>พบก้อนเนื้องอกในต่อมไทรอยด์</div></ion-item>
  <ion-list radio-group formControlName="thyroid_tumor_detect">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-radio [value]="1"></ion-radio>
            <ion-label>พบ</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-radio [value]="0"></ion-radio>
            <ion-label>ไม่พบ</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

    <!-- <ion-item *ngIf="formgroup.controls.thyroid_tumor_detect.value === true">
      <label  color="dark">ระบุ</label>
      <input
      type="text"
      id="thyroid_tumor_size"
      name="thyroid_tumor_size"
      formControlName="thyroid_tumor_size"
      >
      </input>
    </ion-item> -->

    <ion-grid *ngIf="formgroup.controls.thyroid_tumor_detect.value === 1">
      <ion-row>
        <ion-col col-3>
      <label for="thyroid_tumor_size">ระบุ</label>
    </ion-col>
      <input
        type="text"
        id="thyroid_tumor_size"
        name="thyroid_tumor_size"
        formControlName="thyroid_tumor_size"
        size="30"
        >
    </ion-row>
  </ion-grid>

    <ion-item no-lines><div>ระบบหัวใจและปอด</div></ion-item>
    <ion-list radio-group formControlName="heart_lung_unusual">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-radio [value]="0"></ion-radio>
              <ion-label>ปกติ</ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-radio [value]="1"></ion-radio>
              <ion-label>ผิดปกติ</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-grid *ngIf="formgroup.controls.heart_lung_unusual.value === 1">
      <ion-row>
        <ion-col col-3>
      <label for="heart_lung_detail">ระบุ</label>
    </ion-col>
      <input
        type="text"
        id="heart_lung_detail"
        name="heart_lung_detail"
        formControlName="heart_lung_detail"
        size="30"
        >
    </ion-row>
  </ion-grid>

  <ion-item no-lines><div>มือสั่น</div></ion-item>
  <ion-list radio-group formControlName="trembling_hand">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-radio [value]="1"></ion-radio>
            <ion-label>พบ</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-radio [value]="0"></ion-radio>
            <ion-label>ไม่พบ</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-item >
    <div>ระดับความแรงของกล้ามเนื้อ</div>
  </ion-item >

  <ion-grid>
    <ion-row>
      <ion-col col-4>
          <label for="LeftArm" >แขนซ้าย </label>
        </ion-col>
          <ion-col col-6>
          <select formControlName="power_left_hand">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col col-4>
          <label for="RightArm" >แขนขวา </label>
        </ion-col>
          <ion-col col-6>
          <select formControlName="power_right_hand">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
      </ion-col>
    </ion-row>
  </ion-grid>

    <!-- <ion-item >
      <ion-label color="dark">แขนขวา</ion-label>
      <ion-select [(ngModel)]="RightArm" placeholder=เลือก interface="popover">
        <ion-option value="1">1</ion-option>
        <ion-option value="2">2</ion-option>
        <ion-option value="3">3</ion-option>
        <ion-option value="4">4</ion-option>
        <ion-option value="5">5</ion-option>
      </ion-select>
    </ion-item> -->

    <ion-grid>
      <ion-row>
        <ion-col col-4>
            <label for="LeftLeg" >ขาซ้าย      </label>
          </ion-col>
            <ion-col col-6>
            <select formControlName="power_left_leg">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- <ion-item >
      <ion-label color="dark">ขาซ้าย</ion-label>
      <ion-select [(ngModel)]="LeftLeg" placeholder=เลือก interface="popover">
        <ion-option value="1">1</ion-option>
        <ion-option value="2">2</ion-option>
        <ion-option value="3">3</ion-option>
        <ion-option value="4">4</ion-option>
        <ion-option value="5">5</ion-option>
      </ion-select>
    </ion-item> -->

    <ion-grid>
      <ion-row>
        <ion-col col-4>
            <label for="RightLeg" >ขาขวา      </label>
          </ion-col>
            <ion-col col-6>
            <select formControlName="power_right_leg">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
        </ion-col>
      </ion-row>
    </ion-grid>

  <!--
    <ion-item >
      <ion-label color="dark">ขาขวา</ion-label>
      <ion-select [(ngModel)]="RightLeg" placeholder=เลือก interface="popover">
        <ion-option value="1">1</ion-option>
        <ion-option value="2">2</ion-option>
        <ion-option value="3">3</ion-option>
        <ion-option value="4">4</ion-option>
        <ion-option value="5">5</ion-option>
      </ion-select>
    </ion-item> -->

    <ion-item no-lines><div>ผิวหนังบริเวณหน้าแข้งหนาและบวมแดง</div></ion-item>
    <ion-list radio-group formControlName="swell_shin">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-radio [value]="1"></ion-radio>
              <ion-label>พบ</ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-radio [value]="0"></ion-radio>
              <ion-label>ไม่พบ</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-item no-lines><div>เล็บเปราะแตกง่าย เล็บแยกจากฐานเล็บ</div></ion-item>
    <ion-list radio-group formControlName="brittle_nail">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-radio [value]="1"></ion-radio>
              <ion-label>พบ</ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-radio [value]="0"></ion-radio>
              <ion-label>ไม่พบ</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-grid>
      <ion-row>
        <ion-col col-3>
      <label for="detail" color="dark">อื่นๆ</label>
    </ion-col>
      <input
        type="text"
        id="detail"
        name="detail"
        formControlName="detail"
        size="30"
        >
    </ion-row>
  </ion-grid>

  </ion-card>

  <button type="submit" ion-button color="1" id="button" (click)="presentConfirm()">บันทึกข้อมูล</button>
</form>

</ion-content>
