<ion-header>
  <ion-navbar color="1">
    <ion-title>รายละเอียดข้อมูลติดตามผลการรักษา</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card id="css">
    <ion-item>
      <ion-label class="topic"  color="dark">วันที่</ion-label>
      <ion-label  color="dark">{{date}}</ion-label>
    </ion-item>
    <!-- <ion-item>
      <ion-label class="topic"  color="dark">อาการทางคลินิก</ion-label>
      <ion-label  color="dark">{{clinic}}</ion-label>
    </ion-item> -->
  </ion-card>


  <ion-card id="css">
    
    <ion-item>
      <ion-label class="topic" fixed color="dark">FT4</ion-label>
      <ion-label  color="dark">{{ft4}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="topic" fixed color="dark">TSH</ion-label>
      <ion-label  color="dark">{{tsh}}</ion-label>
    </ion-item>
  </ion-card>


  <ion-card id="css">
    <ion-item >
      <ion-label class="topic" color="dark">การรักษา</ion-label>
    </ion-item>
    
    <ion-item id = 'tabMain'>
      <ion-label class="topic" color="dark">ยาต้านอาการไทรอยด์</ion-label>
    </ion-item>
    <ion-item id = 'tabSub'>
      
      <ion-label color="dark">{{antiname}}</ion-label>
      <ion-label color="black" text-right>{{antiamount}} เม็ด {{antidaily}} ครั้ง</ion-label>
    </ion-item>
    <ion-item id = 'tabMain'>
      <ion-label class="topic" color="dark">ยากลุ่ม Beta-Blocker</ion-label>
    </ion-item>
    <ion-item id = 'tabSub'>
      
      <ion-label color="dark">{{betaname}}</ion-label>
      <ion-label color="black" text-right>{{betaamount}} เม็ด {{betadaily}} ครั้ง</ion-label>
    </ion-item>
    
  </ion-card>
</ion-content>
