<ion-header>
  <ion-navbar color="1">
    <ion-title>ผลการตรวจร่างกาย (ส่วนที่ 1)</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ng-container *ngIf="!body_weight">
    <h3 align="center">ไม่พบข้อมูล</h3>
  </ng-container>

  <ng-container *ngIf="body_weight">
  <ion-card id="css" padding *ngIf="showData">
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <div><b>วันที่ตรวจ:</b></div>
        </ion-col>
        <ion-col col-6>
          <div>{{ check_date || "ไม่มีข้อมูล" }}</div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <div><b>เหงื่อแตก ผิวอุ่นและชื้น</b></div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="sweat === 1">
      <ion-row>
        <ion-col>
          <div>พบ</div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="sweat === 0">
      <ion-row>
        <ion-col>
          <div>ไม่พบ</div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <div><b>มีอาการผมเส้นเล็กและร่วงง่าย</b></div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="hair_loss === 1">
      <ion-row>
        <ion-col>
          <div>พบ</div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="hair_loss === 0">
      <ion-row>
        <ion-col>
          <div>ไม่พบ</div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <br>

    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <div><b>น้ำหนักตัว:</b> </div>
        </ion-col>
        <ion-col col-6>
          <div>{{ body_weight }} กิโลกรัม </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <div><b>อัตราการเต้นของหัวใจ:</b> </div>
        </ion-col>
        <ion-col col-6>
          <div>{{ heart_rate }} ครั้งต่อนาที </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <div><b>SBP: </b> </div>
        </ion-col>
        <ion-col col-6>
          <div>{{ blood_pressure_upper }}  <b>mmHg</b></div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <div><b>DBP:</b> </div>
        </ion-col>
        <ion-col col-6>
          <div>{{ blood_pressure_lower }}  <b>mmHg</b></div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <div><b>มีอาการตาโปนหรือตาโตกว่าปกติ:</b></div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="eye_detect === 1">
      <ion-row>
        <ion-col>
          <div>พบ {{ eye_result }}</div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="eye_detect === 0">
      <ion-row>
        <ion-col>
          <div>ไม่พบความผิดปกติ</div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <br>

    <ion-grid *ngIf="eye_detect === 1">
      <ion-row>
        <ion-col>
          <div>
           <h2><b>ส่งปรึกษาจักษุแพทย์</b></h2>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="eye_detect === 1">
      <ion-row>
        <ion-col col-4>
          <div><b>ชื่อจักษุแพทย์: </b></div>
        </ion-col>
        <ion-col col-6>
          <div>{{ doctor_name }}  </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="eye_detect === 1">
      <ion-row>
        <ion-col col-4>
          <div><b>วันที่ตรวจตา:</b> </div>
        </ion-col>
        <ion-col col-6>
          <div>{{ doctor_date }}  </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="eye_detect === 1" >
      <ion-row>
        <ion-col col-4>
          <div><b>รูปภาพผลการตรวจ:</b> </div>
        </ion-col>
        <ion-col col-6>
          <img src="{{ doctor_file  }}"> <br><br>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="eye_detect === 1">
      <ion-row>
        <ion-col col-4>
          <div><b>ผลการตรวจตา:</b> </div>
        </ion-col>
        <ion-col col-6>
          <div>{{ doctor_result }}</div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <br>
    <ion-grid *ngIf="eye_detect === 1">
      <ion-row>
        <ion-col col-4>
          <div><b>การรักษา:</b> </div>
        </ion-col>
        <ion-col col-6>
          <div>{{ treatment }}  </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ng-container>

<button ion-button id="button" *ngIf="showMenu" (click)="editphysical()" color="1" id="editphysical">แก้ไขข้อมูล</button>

<ng-container *ngIf="body_weight">
  <button ion-button id="button" (click)="physicals()" color="1" id="physicals" >ถัดไป</button>
</ng-container>
<!-- <button ion-button id="button" (click)="physicals()" color="1" id="physicals">ถัดไป</button> -->


</ion-content>
