page-physical {
  #editphysical {
    font-size: 17px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #physicals {
    font-size: 17px;
    display: block;
    margin-left: auto;
  }

  div {
    font-size: 17px;
  }

  #button {
    font-size: 17px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  @media only screen and (min-width: 1024px) {
    #editphysical {
      font-size: 20px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    #physicals {
      font-size: 20px;
      display: block;
      margin-left: auto;
    }
    div {
      font-size: 20px;
    }
    #css {
      width: 40%;
      position: relative;
      left: 30%;
    }
    #button {
      font-size: 20px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
