
page-examination {
  ion-label {
    font-size: 17px;
  }

  .button {
    font-size: 17px;
  }

  @media only screen and (min-width: 1224px) {
    ion-label {
      font-size: 20px;
    }
    .button {
      font-size: 20px;
    }
  }
  canvas, img {
    border: 1px solid rgb(230, 207, 207);
    height: auto;
    width: 100%;

    background-image: url("../assets/icon/Pic_Icon/Capture.png");
    background-repeat: no-repeat;
    background-size: 100% 90%;
  }

    @media only screen and (min-width: 1224px) {
        ion-label {
            font-size: 16px;

        }
        .button{
            font-size: 20px;

        }
        #css{
            width: 40%;
            position: relative;
            left: 30%;

        }

      }
}
