<ion-header>
  <ion-navbar color="1">
    <ion-title>
      บันทึกผล Thyroid ultrasound
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- ส่วนแสดงรูปภาพ Thyroid Ultrasound ก่อนหน้ามาแสดง -->
  <ng-container *ngIf="thy_image_path">
    <ion-card color="1">
      <ion-card-header
        ><b>รูปภาพ Thyroid Ultrasound ของผู้ป่วย</b></ion-card-header
      >
      <img src="{{ thyroid_old_image  }}" />
    </ion-card>
  </ng-container>

  <!-- ส่วนตั้งค่าการวาด -->
  <ion-card color="2">
    <ion-card-header><b>เพิ่มก้อนไทรอยด์</b></ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col col-8>
          <p>เลือกลำดับก้อน (สี)</p>
        </ion-col>
        <ion-col *ngIf="selectNum <= 4" col-4>
          <p>ลำดับก้อน = {{selectNum}}</p>
        </ion-col>
        <ion-col *ngIf="selectNum >= 5" col-4>
          <p>ลำดับก้อน = {{5}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card-header>
      <!-- ส่วนเลือกลำดับก้อนไทรอยด์ -->
      <ion-row>
        <ion-col
          [style.background]="colors[0]"
          class="color-block"
          tappable
          (click)="selectColor(colors[0],1)"
          >{{1}}</ion-col
        >
        <ion-col
          [style.background]="colors[1]"
          class="color-block"
          tappable
          (click)="selectColor(colors[1],2)"
          >{{2}}</ion-col
        >
        <ion-col
          [style.background]="colors[2]"
          class="color-block"
          tappable
          (click)="selectColor(colors[2],3)"
          >{{3}}</ion-col
        >
        <ion-col
          [style.background]="colors[3]"
          class="color-block"
          tappable
          (click)="selectColor(colors[3],4)"
          >{{4}}</ion-col
        >
        <ion-col
          [style.background]="colors[4]"
          class="color-block"
          tappable
          (click)="selectColor(colors[4],5)"
          >{{5}}</ion-col
        >
      </ion-row>
    </ion-card-header>

    <ion-grid>
      <!-- ส่วนปรับขนาดจุดวาดภาพ -->
      <ion-row>
        <ion-col col-8>
          <p>เลือกขนาด</p>
        </ion-col>
        <ion-col col-3>
          <p>Size = {{lineSize/2}}</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-range
            min="1"
            max="10"
            step="n"
            color="primary"
            snaps="true"
            [(ngModel)]="lineSize"
          >
            <ion-label range-left>0.5</ion-label>
            <ion-label range-right>5</ion-label>
          </ion-range>
        </ion-col>
      </ion-row>

      <ion-row>
        <!-- ปุ่มล้างภาพแคนวาส -->
        <ion-col>
          <button ion-button (click)="clearCanvas()" color="danger" full>
            <ion-icon>clear</ion-icon>
          </button>
        </ion-col>

        <!-- ปุ่มยางลบ -->
        <ion-col>
          <button ion-button (click)="DeletePointCanvas()" color="danger" full>
            <ion-icon>eraser</ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <canvas #imageCanvas (click)="drawImage($event)"></canvas>
    <!-- ส่วนวาดภาพ -->
  </ion-card>

  <img id="thyroid_img" src="{{ thyroid_old_image }}" style="display: none;" />

  <!-- ส่วนแบบฟอร์มรายละเอียด -->
  <form [formGroup]="formgroup">
    <ion-card>
      <ion-card-header><b>คำแนะนำเพิมเติม</b></ion-card-header>
      <!-- แบบฟอร์มไทรอยด์ก้อนที่ 1 -->
      <ion-card>
        <ion-card-header><b>ก้อนที่ 1</b></ion-card-header>
        <ion-row>
          <ion-col col-4>
            <ion-label for="thy_ult_date1">วันที่ตรวจ</ion-label>
          </ion-col>
          <ion-col col-6>
            <ion-datetime
              displayFormat="DD MMMM YYYY"
              pickerFormat="DD MMMM YYYY"
              min="{{startMin}}"
              max="{{startMax}}"
              formControlName="thy_ult_date1"
              placeholder="ระบุวันที่ตรวจ"
              monthNames="มกราคม, กุมภาพันธ์, มีนาคม,เมษายน,พฤษภาคม,มิถุนายน,กรกฎาคม,สิงหาคม ,กันยายน ,ตุลาคม ,พฤศจิกายน ,ธันวาคม, "
            >
            </ion-datetime>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-4>
            <label for="thy_ult_category1"
              >ระดับความเสี่ยงในการเกิดมะเร็ง</label
            >
          </ion-col>
          <ion-col col-6>
            <select formControlName="thy_ult_category1">
              <option value="Benign">Benign</option>
              <option value="Very low">Very Low</option>
              <option value="Low">Low</option>
              <option value="Intermediate">Intermediate</option>
              <option value="High Suspicion">High Suspicion</option>
            </select>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-4>
            <label for="thy_ult_advice1">คำแนะนำ</label>
          </ion-col>
          <ion-col col-6>
            <select formControlName="thy_ult_advice1">
              <option value="ควรติดตามผล Thyroid Ultrasound"
                >ควรติดตามผล Thyroid Ultrasound</option
              >
              <option value="ส่ง Fine needle Aspiration"
                >ส่ง Fine needle Aspiration</option
              >
              <option value="ส่งผ่าตัด">ส่งผ่าตัด</option>
            </select>
          </ion-col>
        </ion-row>

        <ion-row
          *ngIf="formgroup.controls.thy_ult_advice1.value === 'ควรติดตามผล Thyroid Ultrasound'"
        >
          <ion-col col-4>
            <label for="thy_ult_follow_num1">เป็นระยะเวลา</label>
          </ion-col>
          <ion-col>
            <input
              type="text"
              id="thy_ult_follow_num1"
              name="thy_ult_follow_num1"
              formControlName="thy_ult_follow_num1"
              size="10"
            />
            <select formControlName="thy_ult_follow_unit1">
              <option value="เดือน">เดือน</option>
              <option value="ปี">ปี</option>
            </select>
          </ion-col>
        </ion-row>

        <ion-row
          *ngIf="formgroup.controls.thy_ult_advice1.value === 'ส่ง Fine needle Aspiration'"
        >
          <ion-col col-4>
            <label for="thy_ult_fine_result1">ผลทางเซลล์วิทยา</label>
          </ion-col>
          <ion-col col-6>
            <select formControlName="thy_ult_fine_result1">
              <option value="I">I</option>
              <option value="II">II</option>
              <option value="III">III</option>
              <option value="IV">IV</option>
              <option value="V">V</option>
              <option value="VI">VI</option>
            </select>
          </ion-col>
          <ion-col col-4>
            <label for="thy_ult_ex_advice1">คำแนะนำเพิ่มเติม </label>
          </ion-col>
          <ion-col col-6>
            <select formControlName="thy_ult_ex_advice1">
              <option value="ควรติดตามผล Thyroid Ultrasound"
                >ควรติดตามผล Thyroid Ultrasound</option
              >
              <option value="ส่ง Fine needle Aspiration"
                >ส่ง Fine needle Aspiration</option
              >
              <option value="ส่งผ่าตัด">ส่งผ่าตัด</option>
            </select>
          </ion-col>
        </ion-row>

        <ion-row
          *ngIf="formgroup.controls.thy_ult_advice1.value === 'ส่งผ่าตัด'"
        >
          <ion-col col-4>
            <label for="thy_ult_surgury_desc1">ระบุชนิดการผ่าตัด</label>
          </ion-col>
          <ion-col col-6>
            <input
              type="text"
              id="thy_ult_surgury_desc1"
              name="thy_ult_surgury_desc1"
              formControlName="thy_ult_surgury_desc1"
              size="20"
            />
          </ion-col>
        </ion-row>

        <!-- คำแนะนำเพิ่มเติม ควรติดตามผล ก้อนที่ 1 -->
        <ion-row
          *ngIf="formgroup.controls.thy_ult_ex_advice1.value === 'ควรติดตามผล Thyroid Ultrasound'"
        >
          <ion-col col-4>
            <label for="thy_ult_ex_follow_num1">เป็นระยะเวลา</label>
          </ion-col>
          <ion-col>
            <input
              type="text"
              id="thy_ult_ex_follow_num1"
              name="thy_ult_ex_follow_num1"
              formControlName="thy_ult_ex_follow_num1"
              size="10"
            />
            <select formControlName="thy_ult_ex_follow_unit1">
              <option value="เดือน">เดือน</option>
              <option value="ปี">ปี</option>
            </select>
          </ion-col>
        </ion-row>

        <!-- คำแนะนำเพิ่มเติม ส่ง Fine Needle ก้อนที่ 1 -->
        <ion-row
          *ngIf="formgroup.controls.thy_ult_ex_advice1.value === 'ส่ง Fine needle Aspiration'"
        >
          <ion-col col-4>
            <label for="thy_ult_ex_fine_result1">ผลทางเซลล์วิทยา</label>
          </ion-col>
          <ion-col col-6>
            <select formControlName="thy_ult_ex_fine_result1">
              <option value="I">I</option>
              <option value="II">II</option>
              <option value="III">III</option>
              <option value="IV">IV</option>
              <option value="V">V</option>
              <option value="VI">VI</option>
            </select>
          </ion-col>
        </ion-row>

        <!-- คำแนะนำเพิ่มเติม ส่งผ่าตัด ก้อนที่ 1 -->
        <ion-row
          *ngIf="formgroup.controls.thy_ult_ex_advice1.value === 'ส่งผ่าตัด'"
        >
          <ion-col col-4>
            <label for="thy_ult_ex_surgury_desc1">ระบุชนิดการผ่าตัด</label>
          </ion-col>
          <ion-col col-6>
            <input
              type="text"
              id="thy_ult_ex_surgury_desc1"
              name="thy_ult_ex_surgury_desc1"
              formControlName="thy_ult_ex_surgury_desc1"
              size="20"
            />
          </ion-col>
        </ion-row>
      </ion-card>

      <br />

      <!-- แบบฟอร์มไทรอยด์ก้อนที่ 2 -->
      <ion-card>
        <ion-card-header><b>ก้อนที่ 2</b></ion-card-header>
        <ion-row>
          <ion-col col-4>
            <ion-label for="thy_ult_date2">วันที่ตรวจ</ion-label>
          </ion-col>
          <ion-col col-6>
            <ion-datetime
              displayFormat="DD MMMM YYYY"
              pickerFormat="DD MMMM YYYY"
              min="{{startMin}}"
              max="{{startMax}}"
              formControlName="thy_ult_date2"
              placeholder="ระบุวันที่ตรวจ"
              monthNames="มกราคม, กุมภาพันธ์, มีนาคม,เมษายน,พฤษภาคม,มิถุนายน,กรกฎาคม,สิงหาคม ,กันยายน ,ตุลาคม ,พฤศจิกายน ,ธันวาคม, "
            >
            </ion-datetime>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-4>
            <label for="thy_ult_category2"
              >ระดับความเสี่ยงในการเกิดมะเร็ง</label
            >
          </ion-col>
          <ion-col col-6>
            <select formControlName="thy_ult_category2">
              <option value="Benign">Benign</option>
              <option value="Very low">Very Low</option>
              <option value="Low">Low</option>
              <option value="Intermediate">Intermediate</option>
              <option value="High Suspicion">High Suspicion</option>
            </select>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-4>
            <label for="thy_ult_advice2">คำแนะนำ</label>
          </ion-col>
          <ion-col col-6>
            <select formControlName="thy_ult_advice2">
              <option value="ควรติดตามผล Thyroid Ultrasound"
                >ควรติดตามผล Thyroid Ultrasound</option
              >
              <option value="ส่ง Fine needle Aspiration"
                >ส่ง Fine needle Aspiration</option
              >
              <option value="ส่งผ่าตัด">ส่งผ่าตัด</option>
            </select>
          </ion-col>
        </ion-row>

        <ion-row
          *ngIf="formgroup.controls.thy_ult_advice2.value === 'ควรติดตามผล Thyroid Ultrasound'"
        >
          <ion-col col-4>
            <label for="thy_ult_follow_num2">เป็นระยะเวลา</label>
          </ion-col>
          <ion-col col-6>
            <input
              type="text"
              id="thy_ult_follow_num2"
              name="thy_ult_follow_num2"
              formControlName="thy_ult_follow_num2"
              size="10"
            />
            <select formControlName="thy_ult_follow_unit2">
              <option value="เดือน">เดือน</option>
              <option value="ปี">ปี</option>
            </select>
          </ion-col>
        </ion-row>

        <ion-row
          *ngIf="formgroup.controls.thy_ult_advice2.value === 'ส่ง Fine needle Aspiration'"
        >
          <ion-col col-4>
            <label for="thy_ult_fine_result2">ผลทางเซลล์วิทยา</label>
          </ion-col>
          <ion-col col-6>
            <select formControlName="thy_ult_fine_result2">
              <option value="I">I</option>
              <option value="II">II</option>
              <option value="III">III</option>
              <option value="IV">IV</option>
              <option value="V">V</option>
              <option value="VI">VI</option>
            </select>
          </ion-col>
          <ion-col col-4>
            <label for="thy_ult_ex_advice2">คำแนะนำเพิ่มเติม </label>
          </ion-col>
          <ion-col col-6>
            <select formControlName="thy_ult_ex_advice2">
              <option value="ควรติดตามผล Thyroid Ultrasound"
                >ควรติดตามผล Thyroid Ultrasound</option
              >
              <option value="ส่ง Fine needle Aspiration"
                >ส่ง Fine needle Aspiration</option
              >
              <option value="ส่งผ่าตัด">ส่งผ่าตัด</option>
            </select>
          </ion-col>
        </ion-row>

        <ion-row
          *ngIf="formgroup.controls.thy_ult_advice2.value === 'ส่งผ่าตัด'"
        >
          <ion-col col-4>
            <label for="thy_ult_surgury_desc2">ระบุชนิดการผ่าตัด</label>
          </ion-col>
          <ion-col col-6>
            <input
              type="text"
              id="thy_ult_surgury_desc2"
              name="thy_ult_surgury_desc2"
              formControlName="thy_ult_surgury_desc2"
              size="20"
            />
          </ion-col>
        </ion-row>

        <!-- คำแนะนำเพิ่มเติม ควรติดตามผล ก้อนที่ 2 -->
        <ion-row
          *ngIf="formgroup.controls.thy_ult_ex_advice2.value === 'ควรติดตามผล Thyroid Ultrasound'"
        >
          <ion-col col-4>
            <label for="thy_ult_ex_follow_num2">เป็นระยะเวลา</label>
          </ion-col>
          <ion-col>
            <input
              type="text"
              id="thy_ult_ex_follow_num2"
              name="thy_ult_ex_follow_num2"
              formControlName="thy_ult_ex_follow_num2"
              size="10"
            />
            <select formControlName="thy_ult_ex_follow_unit2">
              <option value="เดือน">เดือน</option>
              <option value="ปี">ปี</option>
            </select>
          </ion-col>
        </ion-row>

        <!-- คำแนะนำเพิ่มเติม ส่ง Fine Needle ก้อนที่ 2 -->
        <ion-row
          *ngIf="formgroup.controls.thy_ult_ex_advice2.value === 'ส่ง Fine needle Aspiration'"
        >
          <ion-col col-4>
            <label for="thy_ult_ex_fine_result2">ผลทางเซลล์วิทยา</label>
          </ion-col>
          <ion-col col-6>
            <select formControlName="thy_ult_ex_fine_result2">
              <option value="I">I</option>
              <option value="II">II</option>
              <option value="III">III</option>
              <option value="IV">IV</option>
              <option value="V">V</option>
              <option value="VI">VI</option>
            </select>
          </ion-col>
        </ion-row>

        <!-- คำแนะนำเพิ่มเติม ส่งผ่าตัด ก้อนที่ 2 -->
        <ion-row
          *ngIf="formgroup.controls.thy_ult_ex_advice2.value === 'ส่งผ่าตัด'"
        >
          <ion-col col-4>
            <label for="thy_ult_ex_surgury_desc2">ระบุชนิดการผ่าตัด</label>
          </ion-col>
          <ion-col col-6>
            <input
              type="text"
              id="thy_ult_ex_surgury_desc2"
              name="thy_ult_ex_surgury_desc2"
              formControlName="thy_ult_ex_surgury_desc2"
              size="20"
            />
          </ion-col>
        </ion-row>
      </ion-card>

      <br />

      <!-- แบบฟอร์มไทรอยด์ก้อนที่ 3 -->
      <ion-card>
        <ion-card-header><b>ก้อนที่ 3</b></ion-card-header>
        <ion-row>
          <ion-col col-4>
            <ion-label for="thy_ult_date3">วันที่ตรวจ</ion-label>
          </ion-col>
          <ion-col col-6>
            <ion-datetime
              displayFormat="DD MMMM YYYY"
              pickerFormat="DD MMMM YYYY"
              min="{{startMin}}"
              max="{{startMax}}"
              formControlName="thy_ult_date3"
              placeholder="ระบุวันที่ตรวจ"
              monthNames="มกราคม, กุมภาพันธ์, มีนาคม,เมษายน,พฤษภาคม,มิถุนายน,กรกฎาคม,สิงหาคม ,กันยายน ,ตุลาคม ,พฤศจิกายน ,ธันวาคม, "
            >
            </ion-datetime>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-4>
            <label for="thy_ult_category3"
              >ระดับความเสี่ยงในการเกิดมะเร็ง</label
            >
          </ion-col>
          <ion-col col-6>
            <select formControlName="thy_ult_category3">
              <option value="Benign">Benign</option>
              <option value="Very low">Very Low</option>
              <option value="Low">Low</option>
              <option value="Intermediate">Intermediate</option>
              <option value="High Suspicion">High Suspicion</option>
            </select>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-4>
            <label for="thy_ult_advice3">คำแนะนำ</label>
          </ion-col>
          <ion-col col-6>
            <select formControlName="thy_ult_advice3">
              <option value="ควรติดตามผล Thyroid Ultrasound"
                >ควรติดตามผล Thyroid Ultrasound</option
              >
              <option value="ส่ง Fine needle Aspiration"
                >ส่ง Fine needle Aspiration</option
              >
              <option value="ส่งผ่าตัด">ส่งผ่าตัด</option>
            </select>
          </ion-col>
        </ion-row>

        <ion-row
          *ngIf="formgroup.controls.thy_ult_advice3.value === 'ควรติดตามผล Thyroid Ultrasound'"
        >
          <ion-col col-4>
            <label for="thy_ult_follow_num3">เป็นระยะเวลา</label>
          </ion-col>
          <ion-col col-6>
            <input
              type="text"
              id="thy_ult_follow_num3"
              name="thy_ult_follow_num3"
              formControlName="thy_ult_follow_num3"
              size="10"
            />
            <select formControlName="thy_ult_follow_unit3">
              <option value="เดือน">เดือน</option>
              <option value="ปี">ปี</option>
            </select>
          </ion-col>
        </ion-row>

        <ion-row
          *ngIf="formgroup.controls.thy_ult_advice3.value === 'ส่ง Fine needle Aspiration'"
        >
          <ion-col col-4>
            <label for="thy_ult_fine_result3">ผลทางเซลล์วิทยา</label>
          </ion-col>
          <ion-col col-6>
            <select formControlName="thy_ult_fine_result3">
              <option value="I">I</option>
              <option value="II">II</option>
              <option value="III">III</option>
              <option value="IV">IV</option>
              <option value="V">V</option>
              <option value="VI">VI</option>
            </select>
          </ion-col>
          <ion-col col-4>
            <label for="thy_ult_ex_advice3">คำแนะนำเพิ่มเติม </label>
          </ion-col>
          <ion-col col-6>
            <select formControlName="thy_ult_ex_advice3">
              <option value="ควรติดตามผล Thyroid Ultrasound"
                >ควรติดตามผล Thyroid Ultrasound</option
              >
              <option value="ส่ง Fine needle Aspiration"
                >ส่ง Fine needle Aspiration</option
              >
              <option value="ส่งผ่าตัด">ส่งผ่าตัด</option>
            </select>
          </ion-col>
        </ion-row>

        <ion-row
          *ngIf="formgroup.controls.thy_ult_advice3.value === 'ส่งผ่าตัด'"
        >
          <ion-col col-4>
            <label for="thy_ult_surgury_desc3">ระบุชนิดการผ่าตัด</label>
          </ion-col>
          <ion-col col-6>
            <input
              type="text"
              id="thy_ult_surgury_desc3"
              name="thy_ult_surgury_desc3"
              formControlName="thy_ult_surgury_desc3"
              size="20"
            />
          </ion-col>
        </ion-row>

        <!-- คำแนะนำเพิ่มเติม ควรติดตามผล ก้อนที่ 3 -->
        <ion-row
          *ngIf="formgroup.controls.thy_ult_ex_advice3.value === 'ควรติดตามผล Thyroid Ultrasound'"
        >
          <ion-col col-4>
            <label for="thy_ult_ex_follow_num3">เป็นระยะเวลา</label>
          </ion-col>
          <ion-col>
            <input
              type="text"
              id="thy_ult_ex_follow_num3"
              name="thy_ult_ex_follow_num3"
              formControlName="thy_ult_ex_follow_num3"
              size="10"
            />
            <select formControlName="thy_ult_ex_follow_unit3">
              <option value="เดือน">เดือน</option>
              <option value="ปี">ปี</option>
            </select>
          </ion-col>
        </ion-row>

        <!-- คำแนะนำเพิ่มเติม ส่ง Fine Needle ก้อนที่ 3 -->
        <ion-row
          *ngIf="formgroup.controls.thy_ult_ex_advice3.value === 'ส่ง Fine needle Aspiration'"
        >
          <ion-col col-4>
            <label for="thy_ult_ex_fine_result3">ผลทางเซลล์วิทยา</label>
          </ion-col>
          <ion-col col-6>
            <select formControlName="thy_ult_ex_fine_result3">
              <option value="I">I</option>
              <option value="II">II</option>
              <option value="III">III</option>
              <option value="IV">IV</option>
              <option value="V">V</option>
              <option value="VI">VI</option>
            </select>
          </ion-col>
        </ion-row>

        <!-- คำแนะนำเพิ่มเติม ส่งผ่าตัด ก้อนที่ 2 -->
        <ion-row
          *ngIf="formgroup.controls.thy_ult_ex_advice3.value === 'ส่งผ่าตัด'"
        >
          <ion-col col-4>
            <label for="thy_ult_ex_surgury_desc3">ระบุชนิดการผ่าตัด</label>
          </ion-col>
          <ion-col col-6>
            <input
              type="text"
              id="thy_ult_ex_surgury_desc3"
              name="thy_ult_ex_surgury_desc3"
              formControlName="thy_ult_ex_surgury_desc3"
              size="20"
            />
          </ion-col>
        </ion-row>
      </ion-card>

      <br />
    </ion-card>

    <!-- ส่วนผลวินิจฉัยของ Thyroid Ultrasound -->
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <label for="thy_ult_result">ผลการวินิจฉัย</label>
          </ion-col>
          <ion-col col-6>
            <select formControlName="thy_ult_result">
              <option value="GD">GD</option>
              <option value="GD with nodule(s)">GD with nodule(s)</option>
              <option value="TA">TA</option>
              <option value="TMNG">TMNG</option>
            </select>
          </ion-col>
        </ion-row>
      </ion-grid>
      <button ion-button full (click)="showConfirmAlert()">บันทึกข้อมูล</button>
    </ion-card>
  </form>
</ion-content>
