<ion-header>
  <ion-navbar color="1">
    <ion-title>ประวัติการกลืนแร่</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card id="css" padding *ngIf="showData">


    <div class="topic">ท่านเคยรักษาด้วยแร่ไอโอดีนหรือไม่</div>
          <ion-list >
            <ion-item no-lines >
              <ion-label class="radio-inline" *ngIf="!specify">
                <input type="radio"  disabled="disabled" checked="true">
                ไม่เคย
              </ion-label>
              <ion-label class="radio-inline" *ngIf="specify">
                <input type="radio"  disabled="disabled" checked="true">
                เคย
              </ion-label>
            </ion-item>
            </ion-list>

    <ion-grid *ngIf="specify">
      <ion-row>
        <ion-col col-4>
          <label class="topic">โรงพยาบาลหรือสถาบัน    </label>
        </ion-col>
        <ion-col col-6>
          <div>{{ hospital||"ไม่มีข้อมูล" }}</div>

        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="specify">
      <ion-row>
        <ion-col col-4>
          <label for="้date" class="topic">วันที่กลืนแร่    </label>
        </ion-col>
        <ion-col col-8>
          <div>{{ datemineral }}</div>
        </ion-col>
      </ion-row>
    </ion-grid>

      <ion-grid *ngIf="specify">
        <ion-row>
          <ion-col col-4>
            <label for="amount" class="topic">ปริมาณ (mCi)    </label>
          </ion-col>
          <ion-col col-6>
            <div>{{ amount||"ไม่มีข้อมูล" }}</div>

          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card>


  <ion-card id="css" *ngIf="!showData">
    <ion-item no-lines>
      <ion-label color="dark">ไม่พบข้อมูล</ion-label>
    </ion-item>
  </ion-card>

  <button ion-button small *ngIf="showButtonedit" (click)="edithistory()" color="1">แก้ไข</button>
</ion-content>
