<ion-header>
  <ion-navbar color="1">
    <ion-title>แก้ไขข้อมูลวันที่นัดกลืนแร่</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card id="css" padding>
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <label for="howto">วิธีการที่เลือก </label>
        </ion-col>
        <ion-col col-6>
          <select
            [(ngModel)]="method"
            (change)="selectMethod($event.target.value)"
          >
            <option value="วิธีการประมาณ">วิธีการประมาณ</option>
            <option value="วิธีคำนวณ">วิธีคำนวณ</option>
          </select>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <label for="inDate">ในวันที่</label>
        </ion-col>
        <ion-col col-6>
          <ion-datetime displayFormat="DD-MM-YYYY" pickerFormat="DD MMMM YYYY" min={{startMin}} max={{startMax}}  [(ngModel)]="date1" (ionChange)="updateDate()"
          monthNames="มกราคม, กุมภาพันธ์, มีนาคม,เมษายน,พฤษภาคม,มิถุนายน,กรกฎาคม,สิงหาคม ,กันยายน ,ตุลาคม ,พฤศจิกายน ,ธันวาคม, "></ion-datetime>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="showDate">
      <ion-row>
        <ion-col col-4>
          <label for="toDate">ถึงวันที่</label>
        </ion-col>
        <ion-col col-6>
          {{date2}}
        </ion-col>
      </ion-row>
      
    </ion-grid>
  </ion-card>

  <button ion-button small color="1" (click)="presentConfirm()">บันทึก</button>
</ion-content>
