<!-- ส่วนแสดงของหมอ -->
<ion-header *ngIf="showMenu">
  <ion-navbar color="1">
    <ion-title>อัพโหลดภาพ Thyroid Scan</ion-title>
  </ion-navbar>
</ion-header>

<!-- ส่วนแสดงของผู้ป่วย -->
<ion-header *ngIf="!showMenu">
  <ion-navbar color="1">
    <ion-title>ภาพ Thyroid Scan</ion-title>
  </ion-navbar>
</ion-header>

<!-- ส่วนแสดงของหมอ -->
<ion-content padding id="css" *ngIf="showMenu">
  <ion-card>
  <ion-card-header><b>เลือกภาพ Thyroid Scan</b></ion-card-header>
  <button ion-button full (click)="AlertTakePhoto()">เลือกรูปภาพ</button>
  <ion-item *ngIf="myPhoto">
    <!-- <h4>Image Preview</h4> -->
    <p><img align="center" src="{{ myPhoto }}"/></p>
  </ion-item>

  <ion-item *ngIf="myPhoto" >
    <ion-textarea autosize [(ngModel)]="description" placeholder="เขียนผลการตรวจ"></ion-textarea>
  </ion-item>

  <ion-item *ngIf="myPhoto">
    <button ion-button full (click)="uploadFile()">อัพโหลดรูปภาพ</button>
  </ion-item>
</ion-card>

<!-- ส่วนแสดงรูปภาพ -->
<ion-card *ngIf="imagepath">
  <ion-item full>
    <ion-card-header><b>รูปภาพ Thyroid Scan ของผู้ป่วย</b></ion-card-header><br>
    <img src="{{imageFile}}"> <br><br>
    <h2><b>ผลการตรวจ</b></h2>
    {{desc}}
  </ion-item>
</ion-card>
</ion-content>

<!-- ส่วนแสดงของผู้ป่วย -->
<ion-content *ngIf="!showMenu">
  <ng-container *ngIf="imagepath">
    <ion-item full>
        <h2><b>รูปภาพ</b></h2><br>
        <img src="{{imageFile}}"> <br><br>
        <h2><b>ผลการตรวจ</b></h2>
        {{desc}}
      </ion-item>
  </ng-container>

  <ng-container *ngIf="!imagepath">
    <h3 align="center">ไม่พบข้อมูล</h3>
  </ng-container>

</ion-content>
