
<ion-header>
  <ion-navbar color="1">
    <ion-title>{{header}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

      <form [formGroup]="formgroup">
        <ion-card id="css" padding>
          <ion-list>
            <ion-grid>
              <ion-row>
                <ion-col col-6>
                  <label>คำนำหน้าชื่อ </label>
                </ion-col>
                <ion-col col-6>
                  <select formControlName="title">
                    <option value="นาย" selected>นาย</option>
                    <option value="นาง">นาง</option>
                    <option value="นางสาว">นางสาว</option>
                    <option value="เด็กหญิง">เด็กหญิง</option>
                    <option value="เด็กชาย">เด็กชาย</option>
                    <option value="Mr.">Mr.</option>
                    <option value="Mrs.">Mrs.</option>
                    <option value="Miss ">Miss</option>
                    <option value="นพ.">นพ.</option>
                    <option value="พญ.">พญ.</option>
                    <option value="Dr.">Dr.</option>
                  </select>
                  <p
                    class="help-inline"
                    *ngIf="!formgroup.get('title').valid
          && formgroup.get('title').touched"
                  >
                    กรุณากรอกเลือกคำนำหน้าชื่อ
                  </p>
                </ion-col>
              </ion-row>
            </ion-grid>
    
            <ion-grid>
              <ion-row>
                <ion-col col-6>
                  <label>ชื่อ </label>
                </ion-col>
                <ion-col col-6>
                  <input
                    type="text"
                    id="fname"
                    name="fname"
                    formControlName="fname"
                    size="20"
                  />
                  <p
                    class="help-inline"
                    *ngIf="!formgroup.get('fname').valid
          && formgroup.get('fname').touched"
                  >
                    กรุณากรอกชื่อ ภาษาไทย หรือ ภาษาอังกฤษ เท่านั้น
                  </p>
                </ion-col>
              </ion-row>
            </ion-grid>
    
            <ion-grid>
              <ion-row>
                <ion-col col-6>
                  <label>นามสกุล</label>
                </ion-col>
                <ion-col col-6>
                  <input
                    type="text"
                    id="lname"
                    name="lname"
                    formControlName="lname"
                    size="20"
                  />
                  <p class="help-inline"
                  *ngIf="!formgroup.get('lname').valid
                  && formgroup.get('lname').touched">กรุณากรอกนามสกุล ภาษาไทย หรือ ภาษาอังกฤษ เท่านั้น</p>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-grid>
              <ion-row>
                <ion-col col-6>
                  <label>วันเกิด</label>
                </ion-col>
                <ion-col col-6>
                  <ion-datetime displayFormat="DD-MM-YYYY" pickerFormat="DD MMMM YYYY" min={{startMin}} max={{startMax}} formControlName="birthday" (ionChange)="updateAge()"  
        monthNames="มกราคม, กุมภาพันธ์, มีนาคม,เมษายน,พฤษภาคม,มิถุนายน,กรกฎาคม,สิงหาคม ,กันยายน ,ตุลาคม ,พฤศจิกายน ,ธันวาคม, "></ion-datetime>
                  
                  <p class="help-inline"
                  *ngIf="!formgroup.get('birthday').valid
                  && formgroup.get('birthday').touched">กรุณาเลือกวันเกิด</p>
                </ion-col>
              </ion-row>
            </ion-grid>
    
            <ion-grid>
              <ion-row>
                <ion-col col-6>
                  <label>อายุ</label>
                </ion-col>
                <ion-col col-6>
                  <span> {{ age }} ปี</span>
                </ion-col>
              </ion-row>
            </ion-grid>
    
            <ion-grid>
              <ion-row>
                <ion-col col-12>
                  <label>เลขบัตรประชาชน/ เลขพาสปอร์ต</label>
                </ion-col>
                <ion-col col-12>
                  <input type="text" formControlName="idCard" size="50" *ngIf="editID" />
                  <input type="text" formControlName="idCard" disabled="disabled" size="50" *ngIf="!editID"/>
                  <p class="help-inline"
                  *ngIf="!formgroup.get('idCard').valid
                  && formgroup.get('idCard').touched">กรุณากรอกตัวเลข หรือ ภาษาอังกฤษ อย่างน้อย 6 หลัก และ ไม่เกิน 13 หลัก</p>
                </ion-col>
              </ion-row>
            </ion-grid>
    
            <ion-grid>
              <ion-row>
                <ion-col col-6>
                  <label>เพศ</label>
                </ion-col>
                <ion-col col-6>
                  <select formControlName="sex">
                    <option value="หญิง">หญิง </option>
                    <option value="ชาย">ชาย </option>
                  </select>
                  <p class="help-inline"
                  *ngIf="!formgroup.get('sex').valid
                  && formgroup.get('sex').touched">กรุณาเลือกเพศ</p>
                </ion-col>
              </ion-row>
            </ion-grid>
    
            <ion-grid>
              <ion-row>
                <ion-col col-6>
                  <label>สัญชาติ</label>
                </ion-col>
                <ion-col col-6>
                  <input
                    type="text"
                    formControlName="National"
                    size="20"
                  />
                  <p class="help-inline"
                  *ngIf="!formgroup.get('National').valid
                  && formgroup.get('National').touched">กรุณากรอกสัญชาติ ภาษาไทย และ ภาษาอังกฤษ เท่านั้น</p>
                </ion-col>
              </ion-row>
            </ion-grid>
    
            <ion-grid>
              <ion-row>
                <ion-col col-6>
                  <label>สถานะการสมรส</label>
                </ion-col>
                <ion-col col-6>
                  <select formControlName="status">
                    <option value="โสด" selected>โสด </option>
                    <option value="สมรส">สมรส </option>
                    <option value="หย่า">หย่า </option>
                    <option value="คู่สมรสเสียชีวิต">คู่สมรสเสียชีวิต </option>
                  </select>
                  <p class="help-inline"
                  *ngIf="!formgroup.get('status').valid
                  && formgroup.get('status').touched">กรุณาเลือกสถานะการสมรส</p>
                </ion-col>
              </ion-row>
            </ion-grid>
    
            <ion-grid>
              <ion-row>
                <ion-col col-6>
                  <label>เบอร์โทรศัพท์ที่ติดต่อได้ </label>
                </ion-col>
                <ion-col col-6>
                  <input type="phone" formControlName="tel" size="20" />
                  <p class="help-inline" 
                  *ngIf="!formgroup.get('tel').valid
                  && formgroup.get('tel').touched">กรุณากรอกตัวเลข</p>
                </ion-col>
              </ion-row>
            </ion-grid>


            <ion-grid>
              <ion-row>
                <ion-col col-4>
            <label for="cep"> บทบาททั้งหมด &ensp;</label>
          </ion-col>
          <ion-col col-8>
            <div (change)="changeDoctor()">
              <input id="doc" type="checkbox" *ngIf="!doctorRole&&!doctorControl" >
              <input id="doc" type="checkbox"  *ngIf="doctorRole&&!doctorControl" checked>
              <input id="doc" type="checkbox"  *ngIf="doctorControl" disabled checked>
              <label for="doc" > หมอ</label>
            </div>
            <div (change)="changeNurse()">
              <input id="nurse" type="checkbox" *ngIf="!nurseRole&&!nurseControl" >
              <input id="nurse" type="checkbox"  *ngIf="nurseRole&&!nurseControl" checked>
              <input id="nurse" type="checkbox"  *ngIf="nurseControl" disabled checked>
              <label for="nurse"> พยาบาล</label>
            </div>
            <div (change)="changePatient()">
              <input id="patient" type="checkbox" *ngIf="!patientRole&&!patientControl" >
              <input id="patient" type="checkbox"  *ngIf="patientRole&&!patientControl" checked>
              <input id="patient" type="checkbox"  *ngIf="patientControl" disabled checked>
              <label for="patient"> ผู้ป่วย</label>
            </div>
            </ion-col>
          </ion-row>
          </ion-grid>
          </ion-list>
        </ion-card>
    
        
      </form>
      




<button ion-button [disabled]="!formgroup.valid" (click)="presentConfirm()"  color="1">
  บันทึก
</button>

</ion-content>
