<ion-header>
  <ion-navbar color="1">
    <ion-title>แก้ไขข้อมูลผลการตรวจทางห้องปฏิบัติการ</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card id="css" padding>
    <form [formGroup]="formgroup"  >
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <label for="labdate">วันที่</label>
  </ion-col>
  <!-- <ion-col col-6>
    <label for="date">{{date}}</label>
  </ion-col> -->
  <ion-col col-6>
    <ion-datetime
      displayFormat="DD MMMM YYYY"
      pickerFormat="DD MMMM YYYY"
      min={{startMin}} max={{startMax}}
      formControlName="labdate"
      placeholder="ระบุวันที่ตรวจ"
      [(ngModel)]="presentDate"
      monthNames="มกราคม, กุมภาพันธ์, มีนาคม,เมษายน,พฤษภาคม,มิถุนายน,กรกฎาคม,สิงหาคม ,กันยายน ,ตุลาคม ,พฤศจิกายน ,ธันวาคม, ">
  </ion-datetime>
  </ion-col>
  </ion-row>
  </ion-grid>
  
    <ion-grid>
      <ion-row>
        <ion-col col-4>
            <label for="hos" >รพ.      </label>
          </ion-col>
            <ion-col col-6>
            <select formControlName="Hospital" (change) = "showHosIn()">
              <option value="" disabled selected hidden>รายชื่อโรงพยาบาล</option>
              <option *ngFor="let hos of hospitals" value="{{hos.hos_name}}">{{hos.hos_name}}</option>
            </select>
            <p
                  class="help-inline"
                  *ngIf="!formgroup.get('Hospital').valid
        && formgroup.get('Hospital').touched"
                >
                  กรุณาเลือก
                </p>  
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-grid *ngIf="showNameHosIn">
      <ion-row>
        <ion-col col-4>
    <label for="hos" >รพ.</label>
  </ion-col>
  <ion-col col-6>
    <input type="text" formControlName="HospitalOther"  id="hos" name="hos" size="20">
    <p
    class="help-inline"
    *ngIf="!formgroup.get('HospitalOther').valid
  && formgroup.get('HospitalOther').touched"
  >
    กรุณาเขียนชื่อโรงพยาบาล
  </p>  
  </ion-col>
  </ion-row>
  </ion-grid>
  
    <ion-grid>
      <ion-row>
        <ion-col col-4>
    <label for="ft3">serum free T3*</label>
  </ion-col>
  <ion-col col-6>
    <input type="number" formControlName="SerumT3" id="SerumT3" name="SerumT3" size="20">
    <p 
                  class="help-inline"
                  *ngIf="!formgroup.get('SerumT3').valid
        && formgroup.get('SerumT3').touched"
                >
                  กรุณากรอกตัวเลข
                </p>  
  </ion-col>
  </ion-row>
  <ion-row>
  <ion-col col-4>
  </ion-col>
  <ion-col col-6>
    <input type="number" formControlName="SerumT3st" id="SerumT3st" name="SerumT3st" size="20">
    <p
                  class="help-inline"
                  *ngIf="!formgroup.get('SerumT3st').valid
        && formgroup.get('SerumT3st').touched"
                >
                  กรุณากรอกตัวเลข
                </p> 
  </ion-col>
  </ion-row>
  </ion-grid>
  
    <ion-grid>
      <ion-row>
        <ion-col col-4>
    <label for="ft4">serum free T4*</label>
  </ion-col>
  <ion-col col-6>
    <input type="number" formControlName="SerumT4" id="SerumT4" name="SerumT4" size="20">
    <p
                  class="help-inline"
                  *ngIf="!formgroup.get('SerumT4').valid
        && formgroup.get('SerumT4').touched"
                >
                  กรุณากรอกตัวเลข
                </p>  
  </ion-col>
  </ion-row>
  <ion-row>
  <ion-col col-4>
  </ion-col>
  <ion-col col-6>
    <input type="number" formControlName="SerumT4st" id="SerumT4st" name="SerumT4st" size="20">
    <p
                  class="help-inline"
                  *ngIf="!formgroup.get('SerumT4st').valid
        && formgroup.get('SerumT4st').touched"
                >
                  กรุณากรอกตัวเลข
                </p>  
  </ion-col>
  </ion-row>
  </ion-grid>
  
  
    <ion-grid>
      <ion-row>
        <ion-col col-4>
    <label for="TSH">serum TSH*</label>
  </ion-col>
  <ion-col col-6>
     <input type="number" formControlName="SerumTSH" id="SerumTSH" name="SerumTSH" size="20">
    <p
                  class="help-inline"
                  *ngIf="!formgroup.get('SerumTSH').valid
        && formgroup.get('SerumTSH').touched"
                >
                  กรุณากรอกตัวเลข
                </p> 
  </ion-col>
  </ion-row>
  <ion-row>
  <ion-col col-4>
  </ion-col>
  <ion-col col-6>
     <input type="number" formControlName="SerumTSHst" id="SerumTSHst" name="SerumTSHst" size="20">
    <p
                  class="help-inline"
                  *ngIf="!formgroup.get('SerumTSHst').valid
        && formgroup.get('SerumTSHst').touched"
                >
                  กรุณากรอกตัวเลข
                </p> 
  </ion-col>
  </ion-row>
  </ion-grid>
  
    
    <ion-grid>
      <ion-row>
        <ion-col col-4>
    <label for="TRAb">serum TRAb*</label>
  </ion-col>
  <ion-col col-6>
   <input type="number" formControlName="SerumTRAb" id="SerumTRAb" name="SerumTRAb" size="20">
    <p
                  class="help-inline"
                  *ngIf="!formgroup.get('SerumTRAb').valid
        && formgroup.get('SerumTRAb').touched"
                >
                  กรุณากรอกตัวเลข
                </p> 
  </ion-col>
  </ion-row>
  <ion-row>
  <ion-col col-4>
  </ion-col>
  <ion-col col-6>
   <input type="number" formControlName="SerumTRAbst" id="SerumTRAbst" name="SerumTRAbst" size="20">
    <p
                  class="help-inline"
                  *ngIf="!formgroup.get('SerumTRAbst').valid
        && formgroup.get('SerumTRAbst').touched"
                >
                  กรุณากรอกตัวเลข
                </p> 
  </ion-col>
  </ion-row>
  </ion-grid>
  
    <ion-grid>
      <ion-row>
        <ion-col col-12>
    <label for="Text">ยาที่รับประทานในวันตรวจเลือด</label>
  </ion-col>
  </ion-row>
  </ion-grid>
  
  <ion-grid>
    <ion-row>
      <ion-col col-4>
          <label for="ThyroidMed" >ยาต้านอาการไทรอยด์</label>
        </ion-col>
          <ion-col col-5>
          <select formControlName="ThyroidMed" (change)="addThyroidMed($event.target.value)">
            <option value="" disabled selected hidden>รายชื่อยาต้านอาการไทรอยด์</option>
            <option *ngFor="let anti of antinames" value="{{anti.name}}">{{anti.name}}</option>
          </select>
          <p
          class="help-inline"
          *ngIf="!formgroup.get('ThyroidMed').valid
  && formgroup.get('ThyroidMed').touched"
        >
          กรุณาเลือก
        </p>  
      </ion-col>
      <ion-col col-3 >
        <input type="text" *ngIf="showAntiOther" formControlName="ThyroidMedEtc" id="ThyroidMedEtc" name="ThyroidMedEtc" size="20">
      </ion-col>
    </ion-row>
  </ion-grid>
  
  
  <ion-grid *ngIf="showAntiPill">
    <ion-row>
        
      <input type="number" formControlName="ThyroidMedVol" id="ThyroidMedVol" name="ThyroidMedVol" size="5">  
      <label for="ThyroidMedVol" >&ensp;เม็ด &ensp;    </label>
       
    <input type="number"formControlName="ThyroidMedRoundPerDay" id="ThyroidMedRoundPerDay" name="ThyroidMedRoundPerDay" size="5">  
    <label for="ThyroidMedRoundPerDay" >&ensp; ครั้ง &ensp;  </label>
    </ion-row>
  </ion-grid>
  
    <ion-grid>
      <ion-row>
        <ion-col col-4>
            <label for="BetaBlock" >ยากลุ่ม Beta-Blocker</label>
          </ion-col>
            <ion-col col-5>
            <select formControlName="BetaBlock" (change)="addBetaBlock($event.target.value)">
              <option value="" disabled selected hidden>รายชื่อยา Beta-Blocker</option>
              <option *ngFor="let beta of betanames" value="{{beta.name}}">{{beta.name}}</option>
            </select>
            <p
            class="help-inline"
            *ngIf="!formgroup.get('BetaBlock').valid
  && formgroup.get('BetaBlock').touched"
          >
            กรุณาเลือก
          </p>  
        </ion-col>
        <ion-col col-3 >
          <input type="text" *ngIf="showBlockOther" formControlName="BetaBlockEtc" id="BetaBlockEtc" name="BetaBlockEtc" size="20">
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-grid *ngIf="showBlockPill">
      <ion-row>
          
        <input type="number" formControlName="BetaBlockVol" id="BetaBlockVol" name="BetaBlockVol" size="5">  
        <label for="BetaBlockVol" >&ensp; เม็ด &ensp;    </label>
         
      <input type="number" formControlName="BetaBlockRoundPerDay" id="BetaBlockRoundPerDay" name="BetaBlockRoundPerDay" size="5">  
      <label for="BetaBlockRoundPerDay" >&ensp; ครั้ง &ensp;    </label>
      </ion-row>
    </ion-grid>
  </form>
  </ion-card>
  
  
  
      <button ion-button [disabled]="!formgroup.valid"  (click)="presentConfirm()" color="1">บันทึก</button>
  </ion-content>
