<!--
  Generated template for the EditriskyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="1">
    <ion-title>ขณะมีอาการ</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card id="css">
    <div class="topic" padding>
      ขณะท่านมีอาการไทรอยด์เป็นพิษ
      กรุณาใส่เครื่องหมายถูกในช่องสี่เหลี่ยมหากท่านมีปัจจัยที่ก่อให้เกิดโรคดังต่อไปนี้
    </div>

    <ion-item no-lines (change)="changeStress()">
      <input type="checkbox" id="stress"  *ngIf="stress" checked/>
      <input type="checkbox" id="stress" *ngIf="!stress" />
      <label for="stress"> มีความเครียด</label><br />
    </ion-item>

    <ion-item no-lines (change)="changeHard_work()">
      <input type="checkbox" id="hard_work"  *ngIf="hard_work" checked/>
      <input type="checkbox" id="hard_work"  *ngIf="!hard_work" />
      <label for="hard_work" text-wrap> ทำงานหนัก</label><br />
    </ion-item>

    <ion-item no-lines  >
      <input type="checkbox" (change)="changeNightWork()" id="nightWork"  *ngIf="nightWork" checked/>
      <input type="checkbox" (change)="changeNightWork()" id="nightWork"  *ngIf="!nightWork" />
      <label for="nightWork" id="nightWork" text-wrap> ทำงานแบบเข้ากะ</label>
      <div *ngIf="nightWork">
        <label>รอบละ </label>
        <input type="number" [(ngModel)]="night_work_hour" value="{{ night_work_hour }}" size="10" />
        <label >ชั่วโมง </label>
      </div>
    </ion-item>

    <ion-item no-lines >
      <input type="checkbox" (change)="changeOvertime()" id="Overtime" *ngIf="Overtime" checked/>
      <input type="checkbox" (change)="changeOvertime()" id="Overtime" *ngIf="!Overtime" />
      <label for="Overtime"> ทำงานล่วงเวลาเกิน 8 ชั่วโมง</label>
      <div *ngIf="Overtime">
        <label>ทำเพิ่ม </label>
        <input type="number" [(ngModel)]="overtime_hour" value="{{ overtime_hour }}" size="10" />
        <label >ชั่วโมง </label>
      </div>

    </ion-item>

    <ion-item no-lines (change)="changeSleep_less_than_4()">
      <input type="checkbox" id="sleep_less_than_4" *ngIf="sleep_less_than_4" checked/>
      <input type="checkbox" id="sleep_less_than_4" *ngIf="!sleep_less_than_4"/>
      <label for="sleep_less_than_4" text-wrap>นอนน้อยกว่า 4 ชั่วโมงต่อวัน</label><br />
    </ion-item>

    <ion-item no-lines (change)="changePregnant()" *ngIf="showFormSex">
      <input type="checkbox" id="pregnant" *ngIf="pregnant&&showFormSex" checked/>
      <input type="checkbox" id="pregnant" *ngIf="!pregnant&&showFormSex"/>
      <label for="pregnant" text-wrap>ไทรอยด์เป็นพิษขณะกำลังตั้งครรภ์</label><br />
    </ion-item>



    <ion-item no-lines (change)="changeSmoking()">
      <input type="checkbox" id="smoking" *ngIf="smoking" checked/>
      <input type="checkbox" id="smoking" *ngIf="!smoking" />
      <label for="smoking">สูบบุหรี่</label><br />
    </ion-item>

    <div *ngIf="smoking">
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <label for="specify">ระบุ </label>
        </ion-col>

        <input type="number" [(ngModel)]="smoking_amount" size="10" />
        <label >&ensp; </label>
        <select (change)="changeSelect_amount()" *ngIf="select_amount">
          <option value="มวนต่อวัน" selected="selected">มวนต่อวัน </option>
          <option value="ซองต่อวัน">ซองต่อวัน </option>
        </select>
        <select (change)="changeSelect_amount()" *ngIf="!select_amount">
          <option value="มวนต่อวัน">มวนต่อวัน </option>
          <option value="ซองต่อวัน" selected="selected">ซองต่อวัน </option>
        </select>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <label for="specify">ระยะเวลาที่สูบ </label>
        </ion-col>

        <input type="number" [(ngModel)]="smoking_time" size="10" />
        <label >&ensp; </label>
        <select (change)="changeSelect_time()" *ngIf="select_time">
          <option value="เดือน">เดือน </option>
          <option value="ปี" selected="selected">ปี </option>
        </select>
        <select (change)="changeSelect_time()" *ngIf="!select_time">
          <option value="เดือน" selected="selected">เดือน </option>
          <option value="ปี" >ปี </option>
        </select>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <label for="stopsmoking">หยุดสูบบุหรี่แล้ว </label>
        </ion-col>
        <input type="number" [(ngModel)]="smoking_stop" size="10" />
        <label >&ensp; </label>
        <select (change)="changeSelect_stop()" *ngIf="select_stop">
          <option value="เดือน">เดือน </option>
          <option value="ปี" selected="selected">ปี </option>
        </select>
        <select (change)="changeSelect_stop()" *ngIf="!select_stop">
          <option value="เดือน" selected="selected">เดือน </option>
          <option value="ปี" >ปี </option>
        </select>
      </ion-row>
    </ion-grid>
  </div>

  <ion-item no-lines (change)="changeNo_risk_factor()">
    <input type="checkbox" id="no_risk_factor" *ngIf="no_risk_factor" checked/>
    <input type="checkbox" id="no_risk_factor" *ngIf="!no_risk_factor" />
    <label for="no_risk_factor">ไม่มีปัจจัยเสี่ยงดังกล่าว</label><br />
  </ion-item>

  <ion-item no-lines (change)="changeRelative_toxic_thyroid()">
    <input type="checkbox" id="relative_toxic_thyroid" *ngIf="relative_toxic_thyroid" checked/>
    <input type="checkbox" id="relative_toxic_thyroid" *ngIf="!relative_toxic_thyroid"/>
    <label for="relative_toxic_thyroid" text-wrap>บุคคลในครอบครัวมีต่อมไทรอยด์เป็นพิษ</label
    ><br />
  </ion-item>

  <ion-grid *ngIf="relative_toxic_thyroid">
    <ion-row>
      <ion-col col-4>
        <label class="topic"  color="danger">*ถ้ามี(โปรดระบุบุคคลในครอบครัว) </label>
      </ion-col>
      <ion-col col-6>
        <input type="textarea" [(ngModel)]="relative_name" size="20" value="{{relative_name}}"/>
      </ion-col>
    </ion-row>
  </ion-grid>


  </ion-card>

  <button ion-button small (click)="presentConfirm()" color="1">บันทึก</button>
</ion-content>
