<!--
  Generated template for the ToxinthyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="1">
    <ion-title>ข้อมูลการตรวจรักษา</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card id="css" padding *ngIf="showData">
  <div> ผู้ป่วยได้รับการวินิจฉัยเป็นต่อมไทรอยด์เป็นพิษเมื่อ </div>
  <div> เดือน <b>{{month}}</b> ปี <b>{{year}} (เป็นระยะเวลา {{monShow}} {{yearShow}})</b> </div>
<br>
<div class="topic">ภาวะแทรกซ้อนของต่อมไทรอยด์เป็นพิษ</div>
<div>{{toxic}} {{comp_name}}</div>
<br>

<div class="topic">ข้อบ่งชี้ของการกลืนแร่ไอโอดีน</div>
<div>{{allergy}} {{allergyOther}} {{comp_majoradverse}} {{comp_description}}</div>
</ion-card>
<ion-card id="css" *ngIf="!showData">

  <ion-item no-lines>
  <ion-label style="text-align: center;" color="dark">ไม่พบข้อมูล</ion-label>
</ion-item>
</ion-card>
<button ion-button  (click)="insert()" *ngIf="showButtonedit" color="1">แก้ไข</button>
</ion-content>
