page-patient-home {
  #logo {
    display: block;
    margin: 0 auto;
    height: 115px;
    width: 115px;
  }
  h3 {
    text-align: center;
  }
  h5 {
    text-align: center;
    color: #000;
  }
  .profile {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .slides {
    width: 100%;
  }

  ion-slides {
    height: auto;
  }

  @media only screen and (min-width: 1024px) {
    ion-slides {
      padding-left: 10%;
      padding-right: 10%;
      background-color: white;
    }

    h5 {
      font-size: 20px;
    }

    #css {
      width: 40%;
      position: relative;
      left: 30%;
    }
    .profile {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
