<ion-header>
  <ion-navbar color="1">
    <ion-title>วิธีปฏิบัติตัวหลังการกลืนแร่</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="center" padding>
  <img src="assets/icon/Pic_Icon/i-risk.jpg" (click)="openweb()" /><br>
  <label  >สามารถดูได้ที่ Application I-Risk </label>
</ion-content>
