page-iodineresult {
    ion-icon{
        font-size: 40px;
    }

    ion-label {
        font-size: 17px;

    }

    .button{
        font-size: 17px;
    }
    label{
        font-size:  17px;
     }
     .data{
        font-size: 17px;
        color: red;
        float: right;
     }
     div{
        font-size: 17px;
     }

     ion-item{
        ion-textarea{
          border-style: inset;
          border-width: 2px;
          height: 'auto';
        }
     }

    @media only screen and (min-width: 1224px) {
        ion-icon{
            font-size: 64px;
        }
        ion-label {
            font-size: 20px;

        }
        .button{
            font-size: 20px;

        }
        .data{
            font-size: 20px;
        }
        #css{
            width: 40%;
            position: relative;
            left: 30%;

        }
        div{
            font-size: 20px;
         }
        label{
            font-size:  22px;
         }
      }

      ion-item{
        ion-textarea{
          border-style: inset;
          border-width: 2px;
          height: 'auto';
        }
     }
}
