<ion-header>
  <ion-navbar color="1">
    <ion-title>การกลืนแร่ไอโอดีน</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card id="css">
    <button ion-item (click)="onClickIodineDetail(1)">
      ข้อมูลทางคลินิกก่อนกลืนแร่
      <ion-icon name="arrow-dropright" md="md-arrow-dropright" item-right></ion-icon>
      <label class="data">{{data1}}</label>
    </button>
  </ion-card>

  <ion-card id="css">
    <ion-grid>
      <ion-row>
        <label for="date">กลืนแร่ครั้งที่ {{round}} {{method}} วันที่กลืนแร่ {{date}}</label>
      </ion-row>
    </ion-grid>

    <ion-item style="text-align: center;" *ngIf="volumeButton&&doctorRole">ปริมาณ
      <input type="number" id="g" name="g" size="20" [(ngModel)]="volume_result" />
    </ion-item>
    <ion-item style="text-align: center;" *ngIf="!volumeButton">ปริมาณ {{volume_result}} mCi</ion-item>
    <ion-item style="text-align: center;" *ngIf="volumeButton&&!doctorRole">ปริมาณ ยังไม่ได้ระบุ</ion-item>

    <button ion-button float-right color="1" *ngIf="volumeButton&&doctorRole"
      (click)="presentConfirm('volume')">บันทึกผล</button>
  </ion-card>

  <ion-card id="css" *ngIf="iodineButton&&doctorRole">
    <ion-grid>
      <ion-row>
        <ion-col col-9>
          <ion-label style="text-align: center;" color="dark" text-wrap>เพิ่มข้อมูลหลังการกลืนแร่</ion-label>
        </ion-col>
        <ion-col col-3>
          <ion-icon name="add-circle" float-right round (click)="onClickIodineDetail()"
            color="1"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <div *ngIf="showAfterswallow">
    <div *ngFor="let item of items; let i = index">
      <div *ngIf="i >= 1">
        <ion-card id="css">
          <button ion-item (click)="onClickIodineDetail(i+1)">
            หลังการกลืนแร่ ครั้งที่ {{i}}
            <ion-icon name="arrow-dropright" md="md-arrow-dropright" item-right></ion-icon>
            <label class="data">{{item.date}}</label>
          </button>
        </ion-card>
      </div>
    </div>
  </div>

  <ion-card id="css">
    <ion-row style="height: 100;"></ion-row>
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <label for="help">ผลการรักษา </label>
        </ion-col>
        <ion-col col-6>
          <select [(ngModel)]="iodine_result" *ngIf="iodineButton&&doctorRole" (change)="resultOther($event.target.value)">
            <option value="อยู่ในระหว่างการรักษา">อยู่ในระหว่างการรักษา</option>
            <option value="สำเร็จแบบการทำงานของไทรอยด์ปกติ">สำเร็จแบบการทำงานของไทรอยด์ปกติ</option>
            <option value="สำเร็จแบบต่อมไทรอยด์ทำงานน้อย">สำเร็จแบบต่อมไทรอยด์ทำงานน้อย</option>
            <option value="ไม่สำเร็จ ต้องรักษาด้วยแร่ไอโอดีนซ้ำ" (change)="resultOther()">ไม่สำเร็จ ต้องรักษาด้วยแร่ไอโอดีนซ้ำ</option>
            <option value="ไม่สามารถรักษาต่อได้" (change)="resultOther()">ไม่สามารถรักษาต่อได้</option>
          </select>
          <div *ngIf="!iodineButton">{{iodine_result}} {{iodine_result_other}}</div>
          <div *ngIf="iodineButton&&!doctorRole">ยังไม่ได้สรุปผลการรักษา</div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="showOther">
      <ion-row>
        <ion-col>
          <ion-textarea autosize [(ngModel)]="iodine_result_other" placeholder="ระบุผลการรักษา"></ion-textarea>
          <!-- <input type="textarea" [(ngModel)]="iodine_result_other" size="70" value="{{iodine_result_other}}"/> -->
        </ion-col>
      </ion-row>
    </ion-grid>

    <button ion-button float-right color="1" (click)="presentConfirm('summary')"
      *ngIf="iodineButton&&doctorRole">บันทึกผล</button>
  </ion-card>

</ion-content>