<ion-header>
  <ion-navbar color="1">
    <ion-title>ผลการตรวจ</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-card id="css">
  <button ion-item (click)="physical()">
    ผลการตรวจร่างกาย
    <ion-icon name="arrow-dropright" md="md-arrow-dropright" item-right></ion-icon>
  </button>
</ion-card>

<!-- <ion-card id="css">
  <button ion-item (click)="lab()">
    ผลการตรวจทางห้องปฏิบัติการ
    <ion-icon name="arrow-dropright" md="md-arrow-dropright" item-right></ion-icon>
  </button>
</ion-card> -->

<ion-card id="css">
  <button ion-item (click)="radiographic()">
    ผลการตรวจรังสีวินิจฉัย
    <ion-icon name="arrow-dropright" md="md-arrow-dropright" item-right></ion-icon>
  </button>
</ion-card>

</ion-content>
