<!--
  Generated template for the ConditionUltrasoundPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="1">
    <ion-title>Thyroid Ultrasound</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ng-container>
    <ion-card id="css">

      <div *ngIf="!showData">
        <ion-item no-lines>
          <ion-label style="text-align: center;" color="dark">ไม่พบข้อมูล</ion-label>
        </ion-item>
      </div>
      
      <div *ngIf="showData">
        <ion-grid>
          <ion-row>
            <ion-col col-4>
              <div><b>วันที่ตรวจ </b></div>
            </ion-col>
            <ion-col col-8>
              {{thy_che_date}}
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col col-4>
              <div><b>ขนาดต่อมไทรอยด์</b></div>
            </ion-col>
            <ion-col col-8>
              {{thy_che_size + " กรัม"}}
            </ion-col>
            <!-- <ion-col col-2>
              <div><b>กรัม</b></div>
            </ion-col> -->
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col col-4>
              <div><b>ก้อนเนื้องอกในต่อมไทรอยด์</b></div>
            </ion-col>
            <ion-col col-6>
              {{thy_che_found || "ไม่พบข้อมูล"}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div text-center>
        <button ion-button *ngIf="showMenu" (click)="editDetail()" color="1">แก้ไขข้อมูล</button>
      </div>

    </ion-card>

  </ng-container>

  <ion-card id="css" *ngIf="thy_che_found === 'พบ'">
    <ion-card-content>
      <ion-row>
        <ion-col>
          <button ion-button block (click)="found()" color="warning">ข้อมูล Thyroid Ultrasound</button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>