page-condition-ultrasound {
  ion-label {
    font-size: 17px;
  }

  .button {
    font-size: 17px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  ion-icon {
    font-size: 40px;
  }
  label {
    font-size: 17px;
  }

  h1 {
    text-align: center;
  }

  div, ion-col {
    font-size: 20px;
  }

  @media only screen and (min-width: 1224px) {
    ion-icon {
      font-size: 64px;
    }

    .button {
      font-size: 20px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    #css {
      width: 40%;
      position: relative;
      left: 30%;
    }
  }
}
