page-editconditionultrasound {
    ion-icon{
        font-size: 40px;
       }
    ion-label{
        font-size: 17px;

    }

    .button{
        font-size: 17px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .div{
        font-size: 17px;

    }
    label {
        font-size: 17px;
        font-weight: bold;
    }
    .help-inline{
        color: red;
    }


    @media only screen and (min-width: 1224px) {
        ion-icon{
            font-size: 64px;
           }
        ion-label{
            font-size: 20px;

        }
        .button{
            font-size: 20px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .div{
            font-size: 20px;

        }
        #css{
            width: 40%;
            position: relative;
            left: 30%;

        }
        label {
            font-size: 20px;

        }
      }
}
