<!-- ส่วนแสดงของผู้ป่วย -->
<ion-header *ngIf="showMenu">
  <ion-navbar color="1">
    <ion-title>อัพโหลดใบยินยอมเข้ารับการรักษา</ion-title>
  </ion-navbar>
</ion-header>

<!-- ส่วนแสดงของหมอ -->
<ion-header *ngIf="!showMenu">
  <ion-navbar color="1">
    <ion-title>ภาพใบยินยอมเข้ารับการรักษา</ion-title>
  </ion-navbar>
</ion-header>

  <ion-content padding id="css" *ngIf="showMenu">
    <ion-card id="css">
    <ion-card-header><b>เลือกภาพใบรับรองการรักษา</b></ion-card-header>
    <button ion-button full (click)="AlertTakePhoto()">เลือกรูปภาพ</button>
    <ion-item *ngIf="myContract">
      <!-- <h4>Image Preview</h4> -->
      <p><img align="center" src="{{ myContract }}"/></p>
    </ion-item>

    <ion-item *ngIf="myContract">
      <button ion-button full (click)="uploadFile()">อัพโหลดรูปภาพ</button>
    </ion-item>
  </ion-card>

    <br>
<!-- ส่วนแสดงรูปภาพ -->
  <ion-card *ngIf="imagePath">
    <ion-item full>
      <ion-card-header><b>รูปภาพใบรับรองการรักษา</b></ion-card-header><br>
      <img src="{{imageFile}}"> <br><br>
    </ion-item>
  </ion-card>

</ion-content>

<ion-content padding id="css" *ngIf="!showMenu">
<!-- ส่วนแสดงรูปภาพ -->
<ion-card *ngIf="imagePath">
  <ion-item full>
    <ion-card-header><b>รูปภาพใบรับรองการรักษา</b></ion-card-header><br>
    <img src="{{imageFile}}"> <br><br>
  </ion-item>
</ion-card>

<ion-card *ngIf="!imagePath">
  <ion-item full>
    <ion-card-header><b>ไม่มีข้อมูล</b></ion-card-header><br>
  </ion-item>
</ion-card>

</ion-content>

