<ion-header>
  <ion-navbar color="1">
    <ion-title>ติดตามผลการรักษาหลังกลืนแร่สำเร็จ</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-icon name="add-circle" float-right round (click)="onClickAddLabTest()" *ngIf="ButtonShow" color="1"></ion-icon>
  <ion-card id="css" padding *ngIf="showData">



<div *ngFor="let item of items; let i = index">
  <div *ngIf="i < 1">
    <ion-card >
      <div (click)="showFollowResult(i)">
        <ion-item>
          <ion-card-title class="topic">ครั้งที่ {{item.index}}</ion-card-title>
        </ion-item>

        <ion-item>
          <ion-label class="topic" color="dark" >วันที่</ion-label>
          <ion-label color="black" text-right >{{item.pa_fol_date}}</ion-label>
        </ion-item>

        <!-- <ion-item>
          <ion-label class="topic" color="dark" >อาการทางคลินิก</ion-label>
          <ion-label color="black" text-right>{{item.pa_fol_result}}</ion-label>
        </ion-item> -->

        <ion-item>
          <ion-label class="topic" color="dark">FT4</ion-label>
          <ion-label color="black" text-right>{{item.fT4_result }}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label class="topic" color="dark">TSH</ion-label>
          <ion-label color="black" text-right>{{item.TSH_result}}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label class="topic" color="dark">การรักษา</ion-label>
        </ion-item>
        <ion-item id = 'tabMain'>
          <ion-label class="topic" color="dark">ยาต้านอาการไทรอยด์</ion-label>
        </ion-item>
        <ion-item id = 'tabSub'>

          <ion-label color="dark" text-left text-wrap>{{item.pa_fol_anti}}</ion-label>
          <ion-label color="black" text-right text-wrap>{{item.pa_fol_anti_amount}} เม็ด {{item.pa_fol_anti_daily}} ครั้ง</ion-label>
        </ion-item>
        <ion-item id = 'tabMain'>
          <ion-label class="topic" color="dark">ยากลุ่ม Beta-Blocker</ion-label>
        </ion-item>
        <ion-item id = 'tabSub'>

          <ion-label color="dark" text-left text-wrap>{{item.pa_fol_beta}}</ion-label>
          <ion-label color="black" text-right text-wrap>{{item.pa_fol_beta_amount}} เม็ด {{item.pa_fol_beta_daily}} ครั้ง</ion-label>
        </ion-item>
      </div>
  
      
      
        <button ion-button float-right *ngIf="ButtonShow" class="editButton" (click)="onClickEditLabTest(i)" color="1">แก้ไข</button>
     
    </ion-card>
  </div>


  <button  ion-button full icon-end color="1" (click)="ShowMore()" *ngIf="i == 1">ผลการตรวจครั้งก่อนหน้า <ion-icon color="success" [name]="showMore ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon></button>
        <div *ngIf="i >= 1&&showMore">
          <ion-card >
            <div (click)="showFollowResult(i)">
            <ion-item>
              <ion-card-title class="topic">ครั้งที่ {{item.index}}</ion-card-title>
            </ion-item>

            <ion-item>
              <ion-label class="topic" color="dark" >วันที่</ion-label>
              <ion-label color="black" text-right>{{item.pa_fol_date}}</ion-label>
            </ion-item>

            <!-- <ion-item>
              <ion-label class="topic" color="dark" >อาการทางคลินิก</ion-label>
              <ion-label color="black" text-right>{{item.pa_fol_result}}</ion-label>
            </ion-item> -->

            <ion-item>
              <ion-label class="topic" color="dark">FT4</ion-label>
              <ion-label color="black" text-right>{{item.fT4_result }}</ion-label>
            </ion-item>

            <ion-item>
              <ion-label class="topic" color="dark">TSH</ion-label>
              <ion-label color="black" text-right>{{item.TSH_result}}</ion-label>
            </ion-item>

            <ion-item>
              <ion-label class="topic" color="dark">การรักษา</ion-label>
            </ion-item>

            <ion-item id = 'tabMain'>
              <ion-label class="topic" color="dark">ยาต้านอาการไทรอยด์</ion-label>
            </ion-item>

            <ion-item id = 'tabSub'>
              <ion-label color="dark" text-left text-wrap>{{item.pa_fol_anti}}</ion-label>
              <ion-label color="black" text-right text-wrap>{{item.pa_fol_anti_amount}} เม็ด {{item.pa_fol_anti_daily}} ครั้ง</ion-label>
            </ion-item>

            <ion-item id = 'tabMain'>
              <ion-label class="topic" color="dark">ยากลุ่ม Beta-Blocker</ion-label>
            </ion-item>

            <ion-item id = 'tabSub'>
              <ion-label color="dark" text-left text-wrap>{{item.pa_fol_beta}}</ion-label>
              <ion-label color="black" text-right text-wrap>{{item.pa_fol_beta_amount}} เม็ด {{item.pa_fol_beta_daily}} ครั้ง</ion-label>
            </ion-item>
            </div>
      
          
          
            <button ion-button float-right *ngIf="ButtonShow" class="editButton" (click)="onClickEditLabTest(i)" color="1">แก้ไข</button>
       
        </ion-card>
        </div>


</div>


  </ion-card>
  <ion-card id="css" *ngIf="!showData">

    <ion-item no-lines>
    <ion-label style="text-align: center;"  color="dark">ไม่พบข้อมูล</ion-label>
  </ion-item>

  </ion-card>
</ion-content>
