<ion-header>
  <ion-navbar color="1">
    <ion-title>ผลการตรวจรังสีวินิจฉัย </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

     <ion-card id="css">
      <button ion-item (click)="radiographic()">
        Thyroid Scan
        <ion-icon name="arrow-dropright" md="md-arrow-dropright" item-right></ion-icon>
      </button>
    </ion-card>


    <ng-container>
      <ion-card id="css">
        <button ion-item (click)="thyroidUltrasound()">
          Thyroid Ultrasound
          <ion-icon name="arrow-dropright" md="md-arrow-dropright" item-right></ion-icon>
        </button>
      </ion-card>
    </ng-container>

    <!-- <ion-card id="css">
      <button ion-item (click)="biopsy()">
        คำแนะนำเพิ่มเติม และ ผลวินิจฉัย
        <ion-icon name="arrow-dropright" md="md-arrow-dropright" item-right></ion-icon>
      </button>
    </ion-card> -->

</ion-content>
