<!--
  Generated template for the GeneralPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="1">
    <ion-title>ประวัติทั่วไป</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card id="css" padding *ngIf="showData">
<ion-item >

  <ion-grid>
    <ion-row>
      <ion-col col-5>
        <label>ชื่อ - นามสกุล :</label>
      </ion-col>
      <ion-col col-8>
        <div>{{ name }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col col-5>
        <label>วัน/เดือน/ปีเกิด : </label>
      </ion-col>
      <ion-col col-8>
        <div>{{ date }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <label>อายุ :  </label>
      </ion-col>
      <ion-col col-6>
        <div>{{ age }} ปี</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <label>เลขบัตรประชาชน :  </label>
      </ion-col>
      <ion-col col-8>
        <div>{{ idcard }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col col-2>
        <label>เพศ :  </label>
      </ion-col>
      <ion-col col-2>
        <div>{{ gender }}</div>
      </ion-col>
      <ion-col col-4>
        <label>สัญชาติ :  </label>
      </ion-col>
      <ion-col col-4>
        <div>{{ nationality }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col col-7>
        <label>สถานะการสมรส :  </label>
      </ion-col>
      <ion-col col-2>
        <div>{{ status }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-item>

<ion-item >
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <label>ส่งตัวมาจาก รพ. :  </label>
      </ion-col>
      <ion-col col-8>
        <div>{{ input||"ไม่มีข้อมูล" }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>

   <ion-grid>
    <ion-row>
      <ion-col col-7>
        <label>HN รพ. ที่ส่งตัวมา:  </label>
      </ion-col>
      <ion-col col-3>
        <div>{{ hninput||'ไม่มีข้อมูล' }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
        <label>HN รพ.มหาวิทยาลัยบูรพา:  </label>{{ hnbuu||'ไม่มีข้อมูล' }}
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <label>รพ.ที่ส่งตัวกลับ :  </label>
      </ion-col>
      <ion-col col-8>
        <div>{{ output||"ไม่มีข้อมูล" }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col col-8>
        <label>HN รพ. ที่ส่งตัวกลับ:  </label>
      </ion-col>
      <ion-col col-3>
        <div>{{ hnoutput||"ไม่มีข้อมูล" }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-item>

<ion-item no-lines>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <label>เบอร์โทรที่ติดต่อได้ :   </label>
      </ion-col>
      <ion-col col-8>
        <div>{{ tel }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
</ion-card>
<ion-card id="css" *ngIf="!showData">
  <ion-item no-lines>
    <ion-label color="dark">ไม่พบข้อมูล</ion-label>
  </ion-item>
</ion-card>
<button ion-button *ngIf="showButtonedit" (click)="editgeneral()" color="1">แก้ไข</button>
</ion-content>
