

<ion-header>
  <ion-navbar color="1">
    <ion-title>รายละเอียดผลการกลืนแร่</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card id="css">
    <ion-item>
      <ion-label class="topic"  color="dark">วันที่</ion-label>
      <ion-label  color="dark">{{date}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="topic"  color="dark">ขนาดต่อมไทรอยด์</ion-label>
      <ion-label  color="dark">{{thysize}} <b>กรัม</b></ion-label>
    </ion-item>
  </ion-card>


  <ion-card id="css">
    <ion-item >
      <ion-label class="topic" color="dark">ผลการตรวจทางห้องปฏิบัติการ</ion-label>
    </ion-item>

    <ion-item >
      <ion-label class="topic" fixed color="dark">fT3</ion-label>
      <ion-label  color="dark">{{TT3orfT3}}</ion-label>
    </ion-item>

    <ion-item >
      <ion-label class="topic" fixed color="dark">ค่าปกติ fT3</ion-label>
      <ion-label  color="dark">{{nor_fT3}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="topic" fixed color="dark">fT4</ion-label>
      <ion-label  color="dark">{{fT4}}</ion-label>
    </ion-item>

    <ion-item >
      <ion-label class="topic" fixed color="dark">ค่าปกติ fT4</ion-label>
      <ion-label  color="dark">{{nor_fT4}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="topic" fixed color="dark">TSH</ion-label>
      <ion-label  color="dark">{{TSH}}</ion-label>
    </ion-item>

    <ion-item >
      <ion-label class="topic" fixed color="dark">ค่าปกติ TSH</ion-label>
      <ion-label  color="dark">{{nor_TSH}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="topic" fixed color="dark">TRAb</ion-label>
      <ion-label  color="dark">{{TRAb}}</ion-label>
    </ion-item>

    <ion-item >
      <ion-label class="topic" fixed color="dark" text-wrap>ค่าปกติ TRAb</ion-label>
      <ion-label  color="dark">{{nor_TRAb}}</ion-label>
    </ion-item>

  </ion-card>


  <ion-card id="css">
    <ion-item >
      <ion-label class="topic" color="dark">การรักษา</ion-label>
    </ion-item>
    <ion-item >
      <ion-label class="topic" color="dark" text-wrap>ยาต้านอาการไทรอยด์</ion-label>
      <!-- <ion-label  color="dark" text-wrap>{{thyMed}} {{thyAmount}} เม็ด {{thyDaily}} ครั้ง</ion-label> -->
      <ion-label  color="dark" text-wrap>{{thyMed}} <br> {{thyAmount}} เม็ด </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-label class="topic" color="dark" text-wrap>ยากลุ่ม Beta-Blocker</ion-label>
      <!-- <ion-label  color="dark" text-wrap>{{betaBlock}} {{betaAmount}} เม็ด {{betaDaily}} ครั้ง</ion-label> -->
      <ion-label  color="dark" text-wrap>{{betaBlock}} <br> {{betaAmount}} เม็ด </ion-label>
    </ion-item>
    
  </ion-card>

  <button ion-button  (click)="EditResultDetail()" *ngIf="ButtonShow" color="1">แก้ไขข้อมูล</button>
</ion-content>
