page-physicals {
    .button {
        font-size: 17px;
        display: block;
    }
  #editData {
    margin-left: auto;
    margin-right: auto;
  }

  #physical {
    font-size: 17px;
    display: block;
    margin-right: auto;
  }

  div {
    font-size: 17px;
  }

  @media only screen and (min-width: 1024px) {
    .button {
      font-size: 20px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    div {
      font-size: 20px;
    }
    #css {
      width: 40%;
      position: relative;
      left: 30%;
    }

    #physical {
      font-size: 17px;
      display: block;
      margin-right: auto;
    }
  }
}
