page-dataestimate {
    div {
        font-size: 17px;

    }

    .button{
        font-size: 17px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    @media only screen and (min-width: 1224px) {
        div {
            font-size: 20px;
        }
        .button{
            font-size: 20px;
            display: block;
        margin-left: auto;
        margin-right: auto;
        }
        #css{
            width: 40%;
            position: relative;
            left: 30%;

        }

      }
}
