<!--
  Generated template for the DataestimatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="1">
    <ion-title>การปฏิบัติตัวในวันที่มากลืนแร่</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card id="css" padding>



 <br>
  <div>1.ผู้ป่วยควรรับประทานอาหารหรือของทานเล่น ก่อนเวลา 08 : 00 นาฬิกา</div>
  <br>
  <div>2.ผู้ป่วยควรติดต่อที่ห้องกลืนแร่ งานรังสีฯ รพ.มหาวิทยาลัยบูรพา เวลา 08 : 00 นาฬิกา บุคลากรจะแนะนำขั้นตอนการ
    กลืนแร่กับท่าน และให้ท่านนั่งพักเพื่อรอกลืนแคปซูลบรรจุแร่ตอนบ่าย</div>
  <br>
  <div>3.ระหว่างรอกลืนแร่ ผู้ป่วยควรงดอาหารและของทานเล่นอย่างน้อย 6 ชั่วโมงก่อนการกลืนแร่ เพื่อเพิ่มการดูดซึมแร่ไอโอดีนในลำไส้ แต่สามารถดื่มน้ำเปล่าและน้ำหวานที่ห้องกลืนแร่เตรียมไว้ให้
  </div>
  <br>
  <div>4.ผู้ป่วยควรรออย่างน้อย 30 นาทีหลังจากกลืนแคปซูลบรรจุแร่ก่อนเริ่มรับประทานอาหารหรือของทานเล่น </div>
</ion-card>
</ion-content>
